In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

import os, gc
import seaborn as sns

pd.set_option('display.max_rows', 200)
pd.set_option('display.max_columns', 100)

In [ ]:
!ls data

In [3]:
train_df = pd.read_csv('data/train.csv')
test_df  = pd.read_csv('data/test.csv')
sub_df   = pd.read_csv('data/sample_submission.csv')
info_df  = pd.read_csv('data/data_dict.csv')

train_df.shape, test_df.shape, sub_df.shape, info_df.shape

((341424, 24), (146765, 23), (146765, 2), (24, 2))

In [ ]:
train_df.info()

In [5]:
train_df[['booking_date','checkin_date','checkout_date']]

       booking_date checkin_date checkout_date
0          05/04/18     05/04/18      06/04/18
1          23/01/15     11/04/15      16/04/15
2          28/01/15     01/02/15      05/02/15
3          02/05/15     11/06/15      16/06/15
4          02/09/15     14/12/15      19/12/15
5          01/12/15     12/01/16      13/01/16
6          20/01/16     20/01/16      21/01/16
7          22/08/16     20/10/16      25/10/16
8          10/09/16     18/09/16      24/09/16
9          03/08/16     21/11/16      24/11/16
10         03/02/17     28/02/17      01/03/17
11         23/09/17     18/10/17      20/10/17
12         25/01/18     25/01/18      26/01/18
13         28/01/18     06/04/18      08/04/18
14         05/04/18     05/04/18      06/04/18
15         05/04/18     08/03/12      11/03/12
16         05/04/18     06/04/18      07/04/18
17         21/01/15     21/01/15      23/01/15
18         03/08/15     13/10/15      16/10/15
19         03/08/15     09/10/15      13/10/15
20         24/11/16     18/01/17      22/01/17
21         24/11/16     22/01/17      25/01/17
22         24/11/16     25/01/17      27/01/17
23         30/12/17     19/01/18      22/01/18
24         22/10/18     07/11/18      09/11/18
25         05/04/18     05/04/18      06/04/18
26         25/03/15     05/04/15      07/04/15
27         28/03/15     02/04/15      05/04/15
28         22/02/16     27/03/16      29/03/16
29         05/10/16     17/10/16      20/10/16
30         02/01/17     28/04/17      29/04/17
31         05/04/18     06/04/18      07/04/18
32         04/11/15     20/11/15      21/11/15
33         31/03/18     13/04/18      15/04/18
34         31/03/18     12/03/12      18/03/12
35         07/04/18     16/04/18      17/04/18
36         05/04/18     05/04/18      06/04/18
37         27/02/15     23/03/15      25/03/15
38         30/03/15     18/05/15      20/05/15
39         03/02/18     26/03/18      29/03/18
40         03/04/18     03/04/18      04/04/18
41         05/04/18     05/04/18      06/04/18
42         03/03/15     27/05/15      28/05/15
43         04/05/15     07/06/15      10/06/15
44         26/09/15     16/11/15      19/11/15
45         08/02/17     23/03/17      27/03/17
46         05/04/18     05/04/18      06/04/18
47         27/09/16     20/10/16      23/10/16
48         11/10/17     11/10/17      13/10/17
49         23/12/17     31/12/17      03/01/18
50         05/04/18     06/04/18      07/04/18
51         06/02/15     09/02/15      10/02/15
52         11/02/15     08/04/15      11/04/15
53         10/08/15     08/09/15      11/09/15
54         10/08/15     03/09/15      05/09/15
55         10/08/15     05/09/15      08/09/15
56         23/05/16     10/06/16      12/06/16
57         25/07/17     28/08/17      30/08/17
58         10/02/18     10/02/18      12/02/18
59         20/04/18     17/07/18      19/07/18
60         05/04/18     24/03/12      25/03/12
61         23/06/15     21/08/15      23/08/15
62         23/10/15     01/12/15      03/12/15
63         03/03/16     28/03/16      30/03/16
64         30/05/16     15/09/16      18/09/16
65         30/05/16     18/09/16      20/09/16
66         30/05/16     20/09/16      21/09/16
67         30/05/16     24/09/16      26/09/16
68         30/05/16     22/09/16      24/09/16
69         08/11/17     21/12/17      22/12/17
70         26/03/18     04/04/18      05/04/18
71         01/06/18     07/09/18      10/09/18
72         13/09/18     13/09/18      14/09/18
73         05/04/18     06/04/18      08/04/18
74         05/12/15     31/03/16      02/04/16
75         05/12/15     28/03/16      31/03/16
76         10/07/18     31/07/18      04/08/18
77         10/07/18     05/08/18      07/08/18
78         10/07/18     05/08/18      07/08/18
79         05/04/18     21/03/12      25/03/12
80         05/04/18     06/04/18      09/04/18
81         05/04/18     23/03/12      26/03/12
82         08/05/15     10/08/15      12/08/15
83         08/05/15     14/05/15      17/05/15
84         05/04/18     05/04/18      06/04/18
85         09/12/15     17/02/16      19/02/16
86         13/06/17     25/07/17      26/07/17
87         05/04/18     06/04/18      07/04/18
88         25/05/15     06/06/15      08/06/15
89         22/04/17     31/05/17      02/06/17
90         12/09/17     24/11/17      25/11/17
91         06/09/18     23/09/18      27/09/18
92         17/03/18     06/04/18      08/04/18
93         17/04/17     06/05/17      09/05/17
94         19/04/17     09/05/17      11/05/17
95         10/10/17     21/10/17      22/10/17
96         15/03/18     03/04/18      06/04/18
97         15/03/18     08/04/18      11/04/18
98         26/10/18     10/11/18      12/11/18
99         21/03/18     06/04/18      07/04/18
...             ...          ...           ...
341324     04/02/19     19/02/19      21/02/19
341325     06/02/19     24/02/19      25/02/19
341326     06/02/19     23/02/19      24/02/19
341327     06/02/19     07/02/19      08/02/19
341328     01/12/18     12/02/19      14/02/19
341329     06/02/19     20/02/19      22/02/19
341330     07/02/19     12/02/19      14/02/19
341331     02/02/19     16/02/19      17/02/19
341332     07/02/19     17/02/19      20/02/19
341333     07/02/19     11/02/19      12/02/19
341334     05/02/19     16/02/19      19/02/19
341335     07/02/19     19/02/19      22/02/19
341336     11/02/19     17/02/19      19/02/19
341337     25/12/18     23/02/19      25/02/19
341338     08/02/19     21/02/19      23/02/19
341339     08/02/19     15/02/19      17/02/19
341340     08/02/19     15/02/19      17/02/19
341341     22/01/19     17/02/19      19/02/19
341342     08/02/19     25/02/19      28/02/19
341343     08/02/19     17/02/19      19/02/19
341344     08/02/19     22/02/19      27/02/19
341345     08/02/19     18/02/19      21/02/19
341346     09/02/19     11/02/19      13/02/19
341347     09/02/19     09/02/19      11/02/19
341348     09/02/19     11/02/19      12/02/19
341349     09/02/19     09/02/19      12/02/19
341350     07/02/19     12/02/19      15/02/19
341351     10/02/19     21/02/19      24/02/19
341352     10/02/19     20/02/19      23/02/19
341353     10/02/19     26/02/19      27/02/19
341354     06/02/19     14/02/19      16/02/19
341355     11/02/19     20/02/19      22/02/19
341356     11/02/19     15/02/19      16/02/19
341357     11/02/19     23/02/19      25/02/19
341358     11/02/19     17/02/19      19/02/19
341359     12/02/19     22/02/19      24/02/19
341360     12/02/19     25/02/19      27/02/19
341361     12/02/19     14/02/19      16/02/19
341362     09/02/19     16/02/19      19/02/19
341363     12/02/19     15/02/19      16/02/19
341364     11/02/19     22/02/19      24/02/19
341365     06/12/18     17/02/19      19/02/19
341366     12/02/19     22/02/19      25/02/19
341367     12/02/19     14/02/19      16/02/19
341368     08/02/19     25/02/19      26/02/19
341369     12/02/19     17/02/19      19/02/19
341370     12/02/19     21/02/19      23/02/19
341371     12/02/19     20/02/19      21/02/19
341372     12/02/19     18/02/19      19/02/19
341373     12/02/19     28/02/19      02/03/19
341374     13/02/19     22/02/19      24/02/19
341375     13/02/19     23/02/19      24/02/19
341376     18/01/19     14/02/19      17/02/19
341377     13/02/19     17/02/19      21/02/19
341378     13/02/19     27/02/19      02/03/19
341379     13/02/19     20/02/19      23/02/19
341380     14/02/19     16/02/19      18/02/19
341381     14/02/19     26/02/19      01/03/19
341382     14/02/19     14/02/19      16/02/19
341383     14/02/19     26/02/19      01/03/19
341384     14/02/19     17/02/19      20/02/19
341385     14/02/19     15/02/19      16/02/19
341386     15/02/19     24/02/19      26/02/19
341387     15/02/19     16/02/19      17/02/19
341388     15/02/19     15/02/19      16/02/19
341389     15/02/19     24/02/19      25/02/19
341390     15/02/19     17/02/19      18/02/19
341391     15/02/19     23/02/19      25/02/19
341392     16/02/19     18/02/19      19/02/19
341393     16/02/19     19/02/19      21/02/19
341394     16/02/19     19/02/19      20/02/19
341395     16/02/19     21/02/19      24/02/19
341396     16/02/19     20/02/19      23/02/19
341397     17/02/19     27/02/19      28/02/19
341398     18/02/19     19/02/19      20/02/19
341399     18/02/19     23/02/19      24/02/19
341400     19/02/19     23/02/19      25/02/19
341401     19/02/19     22/02/19      23/02/19
341402     19/02/19     20/02/19      21/02/19
341403     19/02/19     20/02/19      22/02/19
341404     20/02/19     25/02/19      27/02/19
341405     20/02/19     21/02/19      23/02/19
341406     20/02/19     27/02/19      02/03/19
341407     25/02/19     26/02/19      27/02/19
341408     20/02/19     21/02/19      23/02/19
341409     22/01/19     23/02/19      25/02/19
341410     21/02/19     27/02/19      28/02/19
341411     31/01/19     21/02/19      23/02/19
341412     21/02/19     23/02/19      26/02/19
341413     21/02/19     24/02/19      26/02/19
341414     21/02/19     23/02/19      24/02/19
341415     23/02/19     25/02/19      28/02/19
341416     25/02/19     26/02/19      28/02/19
341417     22/02/19     27/02/19      02/03/19
341418     26/02/19     26/02/19      27/02/19
341419     11/02/19     27/02/19      01/03/19
341420     27/02/19     28/02/19      01/03/19
341421     27/02/19     27/02/19      28/02/19
341422     27/02/19     28/02/19      01/03/19
341423     28/02/19     01/03/19      02/03/19

[341424 rows x 3 columns]

In [15]:
len(set(train_df['booking_date'].unique())), len(set(test_df['booking_date'].unique())),\
len(set(train_df['booking_date'].unique()).intersection(set(test_df['booking_date'].unique())))

(1621, 1619, 1616)

In [16]:
len(set(train_df['checkin_date'].unique())), len(set(test_df['checkin_date'].unique())),\
len(set(train_df['checkin_date'].unique()).intersection(set(test_df['checkin_date'].unique())))

(1532, 1523, 1521)

In [4]:
train_df.head()

,reservation_id,booking_date,checkin_date,checkout_date,channel_code,main_product_code,numberofadults,numberofchildren,persontravellingid,resort_region_code,resort_type_code,room_type_booked_code,roomnights,season_holidayed_code,state_code_residence,state_code_resort,total_pax,member_age_buckets,booking_type_code,memberid,cluster_code,reservationstatusid_code,resort_id,amount_spent_per_room_night_scaled
0,07659f3758d8aee27f5a7e2887adeacb67021cb95ada1b...,05/04/18,05/04/18,06/04/18,3,1,2,0,46,3,3,3,1,2.0,7.0,3,3,F,1,3d1539e56495b6991f0a3ef5a61ca3d03ce4fff7380e9a...,F,C,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,7.706428
1,03930f033646d073462b35d411616323597715ac4fc398...,23/01/15,11/04/15,16/04/15,1,1,2,0,46,3,3,4,5,2.0,7.0,5,2,F,1,3d1539e56495b6991f0a3ef5a61ca3d03ce4fff7380e9a...,F,A,39fa9ec190eee7b6f4dff1100d6343e10918d044c75eac...,6.662563
2,d145a32920e6587ad95bfe299d80c0affa268220535aaf...,28/01/15,01/02/15,05/02/15,1,1,2,0,47,1,5,4,4,2.0,7.0,1,2,F,1,3d1539e56495b6991f0a3ef5a61ca3d03ce4fff7380e9a...,E,A,535fa30d7e25dd8a49f1536779734ec8286108d115da50...,7.871602
3,cfd77f44811ed62f25a220b53324cdbafc662a4c9e5f04...,02/05/15,11/06/15,16/06/15,1,1,2,2,46,2,2,3,5,2.0,7.0,2,2,F,1,3d1539e56495b6991f0a3ef5a61ca3d03ce4fff7380e9a...,D,A,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,5.344943
4,937cff9e4dcfc2459620153dfc8b9962ac22bea67dfb29...,02/09/15,14/12/15,19/12/15,1,1,2,0,46,2,2,4,5,2.0,7.0,2,2,F,1,3d1539e56495b6991f0a3ef5a61ca3d03ce4fff7380e9a...,D,A,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,7.059346

In [ ]:
train_df.apply(lambda x: pd.Series.value_counts(x).shape[0])

# Important points:

- There are only `season_holidayed_code` & `state_code_residence` columns that contains `nan` values.
- All variables are categorical except `ids` (which are `hash code`) and `amount_spent_per_room_night_scaled` (which is `float` and `target`)

In [ ]:
# train_df.groupby('memberid')['amount_spent_per_room_night_scaled'].sum()

In [ ]:
info_df

In [ ]:
train_df.amount_spent_per_room_night_scaled.plot(kind='hist')

In [ ]:
plt.plot(train_df.amount_spent_per_room_night_scaled, '-p')

In [ ]:
print(len(set(train_df.memberid)), len(set(test_df.memberid)), \
len(set(train_df.memberid).intersection(set(test_df.memberid))))

print(len(set(train_df.reservation_id)), len(set(test_df.reservation_id)), \
len(set(train_df.reservation_id).intersection(set(test_df.reservation_id))))

In [ ]:

import pandas as pd
import numpy as np
import os, gc
from sklearn.model_selection import KFold, StratifiedKFold
from sklearn.metrics import roc_auc_score, mean_squared_error
from catboost import Pool, CatBoostClassifier
import lightgbm as lgb
import xgboost as xgb


def train_lgb_model(X_train, y_train, X_valid, y_valid, features, param, X_test, num_round):
    """
    Args:
        X_train, X_valid: training and valid data
        y_train, y_valid: training and valid target
        X_test: test-data
        features: training features
    Return:
        oof-pred, test_preds model, model_imp
    """
    _train = lgb.Dataset(X_train[features], label=y_train, feature_name=list(features))
    _valid = lgb.Dataset(X_valid[features], label=y_valid,feature_name=list(features))
    
    clf = lgb.train(param, _train, num_round, 
                    valid_sets = [_train, _valid], 
                    verbose_eval=200, 
                    early_stopping_rounds = 25)                  
    
    oof = clf.predict(X_valid[features], num_iteration=clf.best_iteration)
    test_pred = clf.predict(X_test[features], num_iteration=clf.best_iteration)
    
    lgb_imp = pd.DataFrame(data=[clf.feature_name(), list(clf.feature_importance())]).T
    lgb_imp.columns = ['feature','imp']
    
    return oof, test_pred, clf, lgb_imp
    



def run_cv_lgb(train_df, target, test_df, leaves=None):

    param = {
        'bagging_freq'           : 5,
        'bagging_fraction'       : 0.33,
        'boost_from_average'     : 'false',
        'boost'                  : 'gbdt',
        'feature_fraction'       : 0.3,
        'learning_rate'          : 0.01,
        'max_depth'              : -1,
        'metric'                 : 'rmse',
        'min_data_in_leaf'       : 100,
#         'min_sum_hessian_in_leaf': 10.0,
        'num_leaves'             : 30,
        'num_threads'            : 4,
        'tree_learner'           : 'serial',
        'objective'              : 'root_mean_squared_error',
        'verbosity'              : 1,
    #     'lambda_l1'              : 0.001,
        'lambda_l2'              : 0.1
    }   
    if leaves is not None:
        param['num_leaves'] = leaves
        print("using leaves: ", param['num_leaves'])

    random_seed = 1234
    n_splits = 3
    num_round = 10000
    feature_imp = pd.DataFrame()
    
    folds = KFold(n_splits=n_splits, shuffle=True, random_state=random_seed)
    oof_lgb = np.zeros(len(train_df))
    predictions = np.zeros((len(test_df),n_splits))

    clfs = []
    
    for fold_, (train_index, valid_index) in enumerate(folds.split(train_df, target)):
        print(train_index.shape, valid_index.shape)
        print("Fold {}".format(fold_))
    
        y_train, y_valid = target.iloc[train_index], target.iloc[valid_index]
        X_train, X_valid = train_df.iloc[train_index,:], train_df.iloc[valid_index,:]
        features = X_train.columns
        
#         X_train.drop(['disbursal_week','disbursal_day'], axis=1, inplace=True)
#         X_valid.drop(['disbursal_week','disbursal_day'], axis=1, inplace=True)

        num_round = 10000
        oof, test_pred, clf, lgb_imp = train_lgb_model(X_train, y_train, 
                                                       X_valid, y_valid, 
                                                       features, param, 
                                                       test_df, num_round)
        lgb_imp['fold'] = fold_
        feature_imp = pd.concat([feature_imp, lgb_imp], axis=0)
    
        oof_lgb[valid_index] = oof
        predictions[:,fold_] = test_pred
        clfs.append(clf)
        
        score = mean_squared_error(y_valid, oof)
        print( "  rmse = ", 100*np.sqrt(score) )
        print("="*60)
    
    feature_imp.imp = feature_imp.imp.astype('float')
    feature_imp = feature_imp.groupby(['feature'])['imp'].mean()
    feature_imp = pd.DataFrame(data=[feature_imp.index, feature_imp.values]).T
    feature_imp.columns=['feature','imp']
    feature_imp = feature_imp.sort_values(by='imp')

    return clfs, feature_imp, oof_lgb, predictions

In [ ]:
import copy

train_df1 = copy.deepcopy(train_df)
test_df1 = copy.deepcopy(test_df)

In [ ]:
train_df1.drop(['reservation_id', 'memberid'], axis=1, inplace=True)
test_df1.drop(['reservation_id', 'memberid'], axis=1, inplace=True)

target = train_df.amount_spent_per_room_night_scaled
train_df1.drop('amount_spent_per_room_night_scaled', axis=1, inplace=True)

train_df1 = train_df1.astype('object')
test_df1  = test_df1.astype('object')

In [ ]:
complete_df = pd.concat([train_df1, test_df1], axis=0).reset_index(drop=True)

for col in complete_df.columns:
    complete_df[col] = complete_df[col].astype('category').cat.codes
    
del train_df1, test_df1
gc.collect()

train_df1 = complete_df.iloc[:train_df.shape[0]]
test_df1  = complete_df.iloc[train_df.shape[0]:]

gc.collect()

In [74]:
clfs_lgb, imp_lgb, oof_lgb, pred_lgb = run_cv_lgb(train_df1, target, 
                                                  test_df1, leaves=50)

using leaves:  50
(227616,) (113808,)
Fold 0
Training until validation scores don't improve for 25 rounds.
[200]	training's rmse: 1.46449	valid_1's rmse: 1.46804
[400]	training's rmse: 1.03143	valid_1's rmse: 1.0345
[600]	training's rmse: 1.0144	valid_1's rmse: 1.01885
[800]	training's rmse: 1.00885	valid_1's rmse: 1.01489
[1000]	training's rmse: 1.00497	valid_1's rmse: 1.01259
[1200]	training's rmse: 1.00098	valid_1's rmse: 1.01027
[1400]	training's rmse: 0.9973	valid_1's rmse: 1.00813
[1600]	training's rmse: 0.992678	valid_1's rmse: 1.00504
[1800]	training's rmse: 0.990019	valid_1's rmse: 1.0038
[2000]	training's rmse: 0.986463	valid_1's rmse: 1.00165
[2200]	training's rmse: 0.984166	valid_1's rmse: 1.00078
[2400]	training's rmse: 0.981085	valid_1's rmse: 0.99911
[2600]	training's rmse: 0.978644	valid_1's rmse: 0.998053
[2800]	training's rmse: 0.97589	valid_1's rmse: 0.996625
[3000]	training's rmse: 0.973695	valid_1's rmse: 0.995726
[3200]	training's rmse: 0.9711	valid_1's rmse: 0.994485
Early stopping, best iteration is:
[3210]	training's rmse: 0.971034	valid_1's rmse: 0.994475
  rmse =  99.44753942014867
============================================================
(227616,) (113808,)
Fold 1
Training until validation scores don't improve for 25 rounds.
[200]	training's rmse: 1.46519	valid_1's rmse: 1.46417
[400]	training's rmse: 1.03128	valid_1's rmse: 1.03456
[600]	training's rmse: 1.01442	valid_1's rmse: 1.01995
[800]	training's rmse: 1.00897	valid_1's rmse: 1.01628
[1000]	training's rmse: 1.00472	valid_1's rmse: 1.01375
[1200]	training's rmse: 1.00103	valid_1's rmse: 1.01172
[1400]	training's rmse: 0.997395	valid_1's rmse: 1.00963
[1600]	training's rmse: 0.992898	valid_1's rmse: 1.0067
[1800]	training's rmse: 0.99003	valid_1's rmse: 1.00533
[2000]	training's rmse: 0.986363	valid_1's rmse: 1.00307
[2200]	training's rmse: 0.983957	valid_1's rmse: 1.00212
[2400]	training's rmse: 0.98092	valid_1's rmse: 1.00049
[2600]	training's rmse: 0.978431	valid_1's rmse: 0.999354
[2800]	training's rmse: 0.975428	valid_1's rmse: 0.997633
[3000]	training's rmse: 0.973423	valid_1's rmse: 0.996914
[3200]	training's rmse: 0.970738	valid_1's rmse: 0.995524
Early stopping, best iteration is:
[3281]	training's rmse: 0.970127	valid_1's rmse: 0.995428
  rmse =  99.54279057051576
============================================================
(227616,) (113808,)
Fold 2
Training until validation scores don't improve for 25 rounds.
[200]	training's rmse: 1.46463	valid_1's rmse: 1.46606
[400]	training's rmse: 1.03098	valid_1's rmse: 1.03555
[600]	training's rmse: 1.01426	valid_1's rmse: 1.02085
[800]	training's rmse: 1.00842	valid_1's rmse: 1.01674
[1000]	training's rmse: 1.0045	valid_1's rmse: 1.01455
[1200]	training's rmse: 1.00061	valid_1's rmse: 1.01237
[1400]	training's rmse: 0.996984	valid_1's rmse: 1.01037
[1600]	training's rmse: 0.99255	valid_1's rmse: 1.0075
[1800]	training's rmse: 0.989354	valid_1's rmse: 1.00587
[2000]	training's rmse: 0.985719	valid_1's rmse: 1.00366
[2200]	training's rmse: 0.983359	valid_1's rmse: 1.00276
[2400]	training's rmse: 0.980249	valid_1's rmse: 1.00107
[2600]	training's rmse: 0.977779	valid_1's rmse: 1.00002
[2800]	training's rmse: 0.974875	valid_1's rmse: 0.998407
[3000]	training's rmse: 0.972785	valid_1's rmse: 0.997596
[3200]	training's rmse: 0.970076	valid_1's rmse: 0.996178
Early stopping, best iteration is:
[3349]	training's rmse: 0.968769	valid_1's rmse: 0.995815
  rmse =  99.58148568546977
============================================================

In [65]:
from catboost import Pool, CatBoostClassifier, CatBoostRegressor

def train_cat_model(X_train, y_train, X_valid, y_valid, features, param, X_test, 
                    num_round):
    """
    Args:
        X_train, X_valid: training and valid data
        y_train, y_valid: training and valid target
        X_test: test-data
        features: training features
    Return:
        oof-pred, test_preds, model, model_imp
    """
    param['iterations'] = num_round
    
    _train = Pool(X_train[features], label=y_train)#, cat_features=cate_features_index)
    _valid = Pool(X_valid[features], label=y_valid)#, cat_features=cate_features_index)

    watchlist = [_train, _valid]
    clf = CatBoostRegressor(**param)
    clf.fit(_train, 
            eval_set=watchlist, 
            verbose=200,
            use_best_model=True)
        
    oof  = clf.predict(X_valid[features])
    test_pred  = clf.predict(X_test[features])

    cat_imp = pd.DataFrame(data=[clf.feature_names_, 
                                 list(clf.feature_importances_)]).T
    cat_imp.columns = ['feature','imp']
    
    return oof, test_pred, clf, cat_imp


def run_cv_cat(train_df, target, test_df, depth):

    params = {
        'loss_function'         : "RMSE", 
#         'eval_metric'           : "AUC",
        'random_strength'       : 1.5,
        'border_count'          : 128,
#         'scale_pos_weight'      : 3.507,
        'depth'                 : depth, 
        'early_stopping_rounds' : 50,
        'random_seed'           : 1337,
        'task_type'             : 'CPU', 
#         'subsample'             = 0.7, 
        'iterations'            : 10000, 
        'learning_rate'         : 0.09,
        'thread_count'          : 4
    }


    ##########################
    n_splits = 3
    random_seed = 1234
    feature_imp = pd.DataFrame()
    
    folds = KFold(n_splits=n_splits, shuffle=True, random_state=random_seed)
    oof_cat = np.zeros(len(train_df))
    predictions = np.zeros((len(test_df),n_splits))
    clfs = []
##########################
    for fold_, (train_index, valid_index) in enumerate(folds.split(train_df, target)):
        print(train_index.shape, valid_index.shape)
        print("Fold {}".format(fold_))
    
        y_train, y_valid = target.iloc[train_index], target.iloc[valid_index]
        X_train, X_valid = train_df.iloc[train_index,:], train_df.iloc[valid_index,:]
        features = X_train.columns
        
        num_rounds = 10000
        oof, test_pred, clf, cat_imp = train_cat_model(X_train, y_train, 
                                                       X_valid, y_valid, 
                                                       features, params, 
                                                       test_df, num_rounds)
    
        oof_cat[valid_index] = oof
        predictions[:,fold_] = test_pred
        
        cat_imp['fold'] = fold_
        feature_imp = pd.concat([feature_imp, cat_imp], axis=0)
        clfs.append(clf)
        
        score = mean_squared_error(y_valid, oof)
        print( "  auc = ", 100*np.sqrt(score) )
        print("="*60)
    
    feature_imp.imp = feature_imp.imp.astype('float')
    feature_imp = feature_imp.groupby(['feature'])['imp'].mean()
    feature_imp = pd.DataFrame(data=[feature_imp.index, feature_imp.values]).T
    feature_imp.columns=['feature','imp']
    feature_imp = feature_imp.sort_values(by='imp')

    return clfs, feature_imp, oof_cat, predictions

In [75]:
clfs_cat, imp_cat, oof_cat, pred_cat = run_cv_cat(train_df1, target, test_df1, 4)

(227616,) (113808,)
Fold 0
0:	learn: 7.1087168	test: 7.1087168	test1: 7.1130523	best: 7.1130523 (0)	total: 20.8ms	remaining: 3m 27s
200:	learn: 1.0182283	test: 1.0182283	test1: 1.0183900	best: 1.0183900 (200)	total: 6.07s	remaining: 4m 56s
400:	learn: 1.0051033	test: 1.0051033	test1: 1.0070166	best: 1.0070166 (400)	total: 12.1s	remaining: 4m 49s
600:	learn: 0.9972679	test: 0.9972679	test1: 1.0008241	best: 1.0008216 (599)	total: 18s	remaining: 4m 41s
800:	learn: 0.9920203	test: 0.9920203	test1: 0.9968622	best: 0.9968622 (800)	total: 23.8s	remaining: 4m 33s
1000:	learn: 0.9881551	test: 0.9881551	test1: 0.9941965	best: 0.9941965 (1000)	total: 29.6s	remaining: 4m 26s
1200:	learn: 0.9847933	test: 0.9847933	test1: 0.9921452	best: 0.9921452 (1200)	total: 35.5s	remaining: 4m 20s
1400:	learn: 0.9824931	test: 0.9824931	test1: 0.9911621	best: 0.9911561 (1399)	total: 41.4s	remaining: 4m 14s
1600:	learn: 0.9803233	test: 0.9803233	test1: 0.9900051	best: 0.9900044 (1599)	total: 47.2s	remaining: 4m 7s
1800:	learn: 0.9784058	test: 0.9784058	test1: 0.9892871	best: 0.9892871 (1800)	total: 53s	remaining: 4m 1s
2000:	learn: 0.9765982	test: 0.9765982	test1: 0.9885996	best: 0.9885976 (1997)	total: 58.8s	remaining: 3m 55s
2200:	learn: 0.9751652	test: 0.9751652	test1: 0.9883719	best: 0.9883625 (2183)	total: 1m 4s	remaining: 3m 48s
2400:	learn: 0.9738581	test: 0.9738581	test1: 0.9880961	best: 0.9880961 (2400)	total: 1m 10s	remaining: 3m 42s
Stopped by overfitting detector  (50 iterations wait)

bestTest = 0.9880593117
bestIteration = 2427

Shrink model to first 2428 iterations.
  auc =  98.80593103868149
============================================================
(227616,) (113808,)
Fold 1
0:	learn: 7.1110609	test: 7.1110609	test1: 7.1076075	best: 7.1076075 (0)	total: 31.7ms	remaining: 5m 16s
200:	learn: 1.0189467	test: 1.0189467	test1: 1.0210699	best: 1.0210699 (200)	total: 6.4s	remaining: 5m 12s
400:	learn: 1.0057477	test: 1.0057477	test1: 1.0097422	best: 1.0097422 (400)	total: 12.5s	remaining: 4m 59s
600:	learn: 0.9973958	test: 0.9973958	test1: 1.0028644	best: 1.0028644 (600)	total: 18.7s	remaining: 4m 52s
800:	learn: 0.9914702	test: 0.9914702	test1: 0.9983306	best: 0.9983306 (800)	total: 24.9s	remaining: 4m 45s
1000:	learn: 0.9872964	test: 0.9872964	test1: 0.9955084	best: 0.9955084 (1000)	total: 31.1s	remaining: 4m 39s
1200:	learn: 0.9842590	test: 0.9842590	test1: 0.9938824	best: 0.9938824 (1200)	total: 37.3s	remaining: 4m 33s
1400:	learn: 0.9816380	test: 0.9816380	test1: 0.9924363	best: 0.9924320 (1398)	total: 43.6s	remaining: 4m 27s
1600:	learn: 0.9794547	test: 0.9794547	test1: 0.9915221	best: 0.9915221 (1600)	total: 50s	remaining: 4m 22s
1800:	learn: 0.9775295	test: 0.9775295	test1: 0.9908846	best: 0.9908846 (1800)	total: 57.1s	remaining: 4m 19s
2000:	learn: 0.9757515	test: 0.9757515	test1: 0.9903230	best: 0.9903208 (1996)	total: 1m 3s	remaining: 4m 12s
2200:	learn: 0.9742005	test: 0.9742005	test1: 0.9898959	best: 0.9898818 (2168)	total: 1m 9s	remaining: 4m 5s
2400:	learn: 0.9728313	test: 0.9728313	test1: 0.9896550	best: 0.9896520 (2397)	total: 1m 15s	remaining: 3m 58s
2600:	learn: 0.9715913	test: 0.9715913	test1: 0.9894769	best: 0.9894713 (2597)	total: 1m 21s	remaining: 3m 53s
2800:	learn: 0.9702650	test: 0.9702650	test1: 0.9891203	best: 0.9891203 (2800)	total: 1m 27s	remaining: 3m 43s
3000:	learn: 0.9691323	test: 0.9691323	test1: 0.9888510	best: 0.9888468 (2999)	total: 1m 32s	remaining: 3m 35s
Stopped by overfitting detector  (50 iterations wait)

bestTest = 0.9887649269
bestIteration = 3077

Shrink model to first 3078 iterations.
  auc =  98.87649254496156
============================================================
(227616,) (113808,)
Fold 2
0:	learn: 7.1102802	test: 7.1102802	test1: 7.1094043	best: 7.1094043 (0)	total: 19.8ms	remaining: 3m 17s
200:	learn: 1.0178079	test: 1.0178079	test1: 1.0206242	best: 1.0206242 (200)	total: 5.3s	remaining: 4m 18s
400:	learn: 1.0040467	test: 1.0040467	test1: 1.0081294	best: 1.0081294 (400)	total: 11.3s	remaining: 4m 31s
600:	learn: 0.9964114	test: 0.9964114	test1: 1.0019758	best: 1.0019758 (600)	total: 17.3s	remaining: 4m 30s
800:	learn: 0.9915294	test: 0.9915294	test1: 0.9984527	best: 0.9984527 (800)	total: 23.1s	remaining: 4m 25s
1000:	learn: 0.9874123	test: 0.9874123	test1: 0.9956293	best: 0.9956293 (1000)	total: 29s	remaining: 4m 20s
1200:	learn: 0.9843637	test: 0.9843637	test1: 0.9936438	best: 0.9936438 (1200)	total: 34.7s	remaining: 4m 14s
1400:	learn: 0.9815983	test: 0.9815983	test1: 0.9919727	best: 0.9919727 (1400)	total: 40.6s	remaining: 4m 9s
1600:	learn: 0.9795270	test: 0.9795270	test1: 0.9910646	best: 0.9910602 (1594)	total: 46.4s	remaining: 4m 3s
1800:	learn: 0.9776755	test: 0.9776755	test1: 0.9903219	best: 0.9903194 (1798)	total: 52.3s	remaining: 3m 58s
2000:	learn: 0.9759971	test: 0.9759971	test1: 0.9896849	best: 0.9896849 (2000)	total: 58.1s	remaining: 3m 52s
2200:	learn: 0.9746167	test: 0.9746167	test1: 0.9893845	best: 0.9893745 (2189)	total: 1m 3s	remaining: 3m 46s
2400:	learn: 0.9732578	test: 0.9732578	test1: 0.9890173	best: 0.9890134 (2370)	total: 1m 9s	remaining: 3m 40s
2600:	learn: 0.9719481	test: 0.9719481	test1: 0.9886998	best: 0.9886998 (2600)	total: 1m 15s	remaining: 3m 35s
2800:	learn: 0.9707770	test: 0.9707770	test1: 0.9884234	best: 0.9884219 (2796)	total: 1m 21s	remaining: 3m 29s
3000:	learn: 0.9696502	test: 0.9696502	test1: 0.9882936	best: 0.9882849 (2970)	total: 1m 27s	remaining: 3m 23s
Stopped by overfitting detector  (50 iterations wait)

bestTest = 0.9882833501
bestIteration = 3019

Shrink model to first 3020 iterations.
  auc =  98.82833502067156
============================================================

In [85]:

def train_xgb_model(X_train, y_train, X_valid, y_valid, features, param, X_test, 
                    num_round):
    """
    Args:
        X_train, X_valid: training and valid data
        y_train, y_valid: training and valid target
        X_test: test-data
        features: training features
    Return:
        oof-pred, test_preds, model, model_imp
    """
    _train = xgb.DMatrix(X_train[features], label=y_train, feature_names=list(features))
    _valid = xgb.DMatrix(X_valid[features], label=y_valid,feature_names=list(features))
    
    watchlist = [(_valid, 'valid')]
    clf = xgb.train(dtrain=_train, 
                    num_boost_round=num_round, 
                    evals=watchlist,
                    early_stopping_rounds=25, 
                    verbose_eval=200, 
                    params=param)
    
    valid_frame = xgb.DMatrix(X_valid[features],feature_names=list(features))
    oof  = clf.predict(valid_frame, ntree_limit=clf.best_ntree_limit)


    test_frame = xgb.DMatrix(X_test[features],feature_names=list(features))
    test_pred = clf.predict(test_frame, ntree_limit=clf.best_ntree_limit)

    
    xgb_imp = pd.DataFrame(data=[list(clf.get_fscore().keys()), 
                                 list(clf.get_fscore().values())]).T
    xgb_imp.columns = ['feature','imp']
    xgb_imp.imp = xgb_imp.imp.astype('float')
    
    return oof, test_pred, clf, xgb_imp


def run_cv_xgb(train_df, target, test_df, depth):

    features = train_df.columns
    params = {
        'eval_metric'     : 'rmse',
        'seed'            : 1337,
        'eta'             : 0.05,
        'subsample'       : 0.7,
        'colsample_bytree': 0.5,
        'silent'          : 1,
        'nthread'         : 4,
#         'Scale_pos_weight': 3.607,
#         'objective'       : 'reg:squarederror',
        'max_depth'       : depth,
        'alpha'           : 0.05
    }
    
    n_splits = 3
    random_seed = 1234
    feature_imp = pd.DataFrame()
    
    folds = KFold(n_splits=n_splits, shuffle=True, random_state=random_seed)
    oof_xgb = np.zeros(len(train_df))
    predictions = np.zeros((len(test_df),n_splits))
    clfs = []
##########################
    for fold_, (train_index, valid_index) in enumerate(folds.split(train_df, target)):
        print(train_index.shape, valid_index.shape)
        print("Fold {}".format(fold_))
    
        y_train, y_valid = target.iloc[train_index], target.iloc[valid_index]
        X_train, X_valid = train_df.iloc[train_index,:], train_df.iloc[valid_index,:]
        features = X_train.columns
        

        num_rounds = 10000
        oof, test_pred, clf, xgb_imp = train_xgb_model(X_train, y_train, 
                                                       X_valid, y_valid, 
                                                       features, params, 
                                                       test_df, num_rounds)
        
        xgb_imp['fold'] = fold_
        feature_imp = pd.concat([feature_imp, xgb_imp], axis=0)
    
        oof_xgb[valid_index] = oof
        predictions[:,fold_] = test_pred
        clfs.append(clf)
        
        score = mean_squared_error(y_valid, oof)
        print( "  auc = ", 100*np.sqrt(score) )
        print("="*60)
    
    feature_imp.imp = feature_imp.imp.astype('float')
    feature_imp = feature_imp.groupby(['feature'])['imp'].mean()
    feature_imp = pd.DataFrame(data=[feature_imp.index, feature_imp.values]).T
    feature_imp.columns=['feature','imp']
    feature_imp = feature_imp.sort_values(by='imp')


    return clfs, feature_imp, oof_xgb, predictions

In [89]:
clfs_xgb, imp_xgb, oof_xgb, pred_xgb = run_cv_xgb(train_df1, target, test_df1, 4)

(227616,) (113808,)
Fold 0
[0]	valid-rmse:6.94846
Will train until valid-rmse hasn't improved in 25 rounds.
[200]	valid-rmse:1.02016
[400]	valid-rmse:1.01442
[600]	valid-rmse:1.01005
[800]	valid-rmse:1.00453
[1000]	valid-rmse:0.999952
[1200]	valid-rmse:0.996541
[1400]	valid-rmse:0.994686
[1600]	valid-rmse:0.992758
[1800]	valid-rmse:0.991263
[2000]	valid-rmse:0.990132
[2200]	valid-rmse:0.989238
[2400]	valid-rmse:0.988517
[2600]	valid-rmse:0.987852
Stopping. Best iteration:
[2596]	valid-rmse:0.987844

  auc =  98.78438239224694
============================================================
(227616,) (113808,)
Fold 1
[0]	valid-rmse:6.94318
Will train until valid-rmse hasn't improved in 25 rounds.
[200]	valid-rmse:1.02129
[400]	valid-rmse:1.01675
[600]	valid-rmse:1.01156
[800]	valid-rmse:1.00631
[1000]	valid-rmse:1.00209
[1200]	valid-rmse:0.998696
[1400]	valid-rmse:0.9965
[1600]	valid-rmse:0.994389
[1800]	valid-rmse:0.99262
[2000]	valid-rmse:0.991479
[2200]	valid-rmse:0.990637
[2400]	valid-rmse:0.989865
Stopping. Best iteration:
[2461]	valid-rmse:0.989666

  auc =  98.96655200822629
============================================================
(227616,) (113808,)
Fold 2
[0]	valid-rmse:6.94497
Will train until valid-rmse hasn't improved in 25 rounds.
[200]	valid-rmse:1.0221
[400]	valid-rmse:1.0174
[600]	valid-rmse:1.01219
[800]	valid-rmse:1.00663
[1000]	valid-rmse:1.00233
[1200]	valid-rmse:0.998127
[1400]	valid-rmse:0.996168
[1600]	valid-rmse:0.99423
[1800]	valid-rmse:0.992731
[2000]	valid-rmse:0.991304
[2200]	valid-rmse:0.990327
[2400]	valid-rmse:0.989608
[2600]	valid-rmse:0.98916
Stopping. Best iteration:
[2578]	valid-rmse:0.989159

  auc =  98.91587490762562
============================================================

In [ ]:
sns.pairplot(train_df1)