In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
import os
os.listdir()

['.ipynb_checkpoints',
 'pandas analysis.ipynb',
 'alt opt algo.ipynb',
 'model.ipynb',
 'cleaned 2.ipynb',
 'problems_features.csv',
 'data analysis.ipynb',
 'data',
 'cleaned_users.csv',
 'siamese faces intensity success.ipynb']

In [3]:
problems = pd.read_csv('problems_features.csv')
users = pd.read_csv('cleaned_users.csv')
results = pd.read_csv('data/train/train_submissions.csv')

In [4]:
problems.head()

,Unnamed: 0,problem_id,level_type,points,tags,tag_dict,tag_vect
0,0,prob_3649,H,NaN,NaN,NaN,NaN
1,1,prob_6191,A,NaN,NaN,NaN,NaN
2,2,prob_2020,F,NaN,NaN,NaN,NaN
3,3,prob_313,A,500.0,"greedy,implementation","['greedy', 'implementation']","(0, 35)\t0.643835105031232\n (0, 33)\t0.765..."
4,4,prob_101,A,500.0,"constructive algorithms,greedy,math","['constructive algorithms', 'greedy', 'math']","(0, 37)\t0.4053203601812274\n (0, 33)\t0.40..."

In [5]:
users.head()

,Unnamed: 0,user_id,submission_count,problem_solved,contribution,follower_count,max_rating,rating,rank,rank_enc,contribution_abs
0,0,user_3311,47,40,0,4,348.337,330.849,intermediate,3,0
1,1,user_3028,63,52,0,17,405.677,339.450,intermediate,3,0
2,2,user_2268,226,203,-8,24,307.339,284.404,beginner,1,8
3,3,user_480,611,490,1,94,525.803,471.330,advanced,0,1
4,4,user_650,504,479,12,4,548.739,486.525,advanced,0,12

In [6]:
results.head()

     user_id problem_id  attempts_range
0   user_232  prob_6507               1
1  user_3568  prob_2994               3
2  user_1600  prob_5071               1
3  user_2256   prob_703               1
4  user_2321   prob_356               1

In [7]:
problems.isnull().sum()

Unnamed: 0       0
problem_id       0
level_type     133
points        3917
tags          3484
tag_dict      3484
tag_vect      3484
dtype: int64

In [8]:
users.isnull().sum()

Unnamed: 0          0
user_id             0
submission_count    0
problem_solved      0
contribution        0
follower_count      0
max_rating          0
rating              0
rank                0
rank_enc            0
contribution_abs    0
dtype: int64

In [9]:
results.isnull().sum()

user_id           0
problem_id        0
attempts_range    0
dtype: int64

In [10]:
users.columns

Index(['Unnamed: 0', 'user_id', 'submission_count', 'problem_solved',
       'contribution', 'follower_count', 'max_rating', 'rating', 'rank',
       'rank_enc', 'contribution_abs'],
      dtype='object')

In [11]:
problems.columns

Index(['Unnamed: 0', 'problem_id', 'level_type', 'points', 'tags', 'tag_dict',
       'tag_vect'],
      dtype='object')

In [12]:
results.columns

Index(['user_id', 'problem_id', 'attempts_range'], dtype='object')

In [13]:
results.shape, problems.shape, users.shape

((155295, 3), (6544, 7), (3571, 11))

In [14]:
test = pd.read_csv('data/test_submissions_NeDLEvX.csv')
test.head()

                    ID    user_id problem_id
0   user_856_prob_5822   user_856  prob_5822
1  user_2642_prob_2334  user_2642  prob_2334
2  user_2557_prob_2920  user_2557  prob_2920
3  user_1572_prob_4598  user_1572  prob_4598
4   user_295_prob_6139   user_295  prob_6139

### analyze the data (This seems to be cold-start problem)

In [15]:
problems[problems['problem_id'] == test['problem_id'][0]]

      Unnamed: 0 problem_id level_type  points tags tag_dict tag_vect
3672        3672  prob_5822          L     NaN  NaN      NaN      NaN

In [16]:
users[users['user_id'] == results['user_id'][0]]

,Unnamed: 0,user_id,submission_count,problem_solved,contribution,follower_count,max_rating,rating,rank,rank_enc,contribution_abs
1308,1308,user_232,53,47,0,1,307.913,206.709,beginner,1,0

In [17]:
test.shape

(66555, 3)

In [18]:
problems['level_type'].isnull().sum(),problems['tags'].isnull().sum(), problems.shape[0]

(133, 3484, 6544)

In [19]:
# from sklearn.preprocessing import LabelEncoder

# enc = LabelEncoder()
# users['rank_enc'] = enc.fit_transform(users['rank'])

In [20]:
users.groupby('rank')['user_id'].count()

rank
advanced         570
beginner        1509
expert            82
intermediate    1410
Name: user_id, dtype: int64

In [21]:
users.columns

Index(['Unnamed: 0', 'user_id', 'submission_count', 'problem_solved',
       'contribution', 'follower_count', 'max_rating', 'rating', 'rank',
       'rank_enc', 'contribution_abs'],
      dtype='object')

In [22]:
results.head()

     user_id problem_id  attempts_range
0   user_232  prob_6507               1
1  user_3568  prob_2994               3
2  user_1600  prob_5071               1
3  user_2256   prob_703               1
4  user_2321   prob_356               1

In [23]:
users[users['user_id'] == results['user_id']]

ValueError: Can only compare identically-labeled Series objects

In [24]:
new_users = results.copy()
new_users.head()

     user_id problem_id  attempts_range
0   user_232  prob_6507               1
1  user_3568  prob_2994               3
2  user_1600  prob_5071               1
3  user_2256   prob_703               1
4  user_2321   prob_356               1

In [25]:
new_users.drop('problem_id',axis=1, inplace=True)

In [26]:
new_users.head()

     user_id  attempts_range
0   user_232               1
1  user_3568               3
2  user_1600               1
3  user_2256               1
4  user_2321               1

In [27]:
temp = new_users['user_id'].map(lambda x: users[users['user_id'] == x])

KeyboardInterrupt:

In [ ]:
temp.shape

In [28]:
new_users['features'] = new_users['user_id'].map(lambda x: users[users['user_id'] == x])

In [29]:
new_users.head()

,user_id,attempts_range,features
0,user_232,1,Unnamed: 0 user_id submission_count ...
1,user_3568,3,Unnamed: 0 user_id submission_count ...
2,user_1600,1,Unnamed: 0 user_id submission_count ...
3,user_2256,1,Unnamed: 0 user_id submission_count ...
4,user_2321,1,Unnamed: 0 user_id submission_count ...

In [65]:
import gc
del temp
gc.collect()

0

In [30]:
new_users['features'][0]

,Unnamed: 0,user_id,submission_count,problem_solved,contribution,follower_count,max_rating,rating,rank,rank_enc,contribution_abs
1308,1308,user_232,53,47,0,1,307.913,206.709,beginner,1,0

In [31]:
# # encoding 
# means = users.groupby(col).target.mean()
# users[col + 'mean_target'] = users[col].map(means)

In [32]:
users.head()

,Unnamed: 0,user_id,submission_count,problem_solved,contribution,follower_count,max_rating,rating,rank,rank_enc,contribution_abs
0,0,user_3311,47,40,0,4,348.337,330.849,intermediate,3,0
1,1,user_3028,63,52,0,17,405.677,339.450,intermediate,3,0
2,2,user_2268,226,203,-8,24,307.339,284.404,beginner,1,8
3,3,user_480,611,490,1,94,525.803,471.330,advanced,0,1
4,4,user_650,504,479,12,4,548.739,486.525,advanced,0,12

In [33]:
users.columns

Index(['Unnamed: 0', 'user_id', 'submission_count', 'problem_solved',
       'contribution', 'follower_count', 'max_rating', 'rating', 'rank',
       'rank_enc', 'contribution_abs'],
      dtype='object')

In [34]:
users.drop(['Unnamed: 0','rank',],axis=1,inplace=True)

In [35]:
users.head()

,user_id,submission_count,problem_solved,contribution,follower_count,max_rating,rating,rank_enc,contribution_abs
0,user_3311,47,40,0,4,348.337,330.849,3,0
1,user_3028,63,52,0,17,405.677,339.450,3,0
2,user_2268,226,203,-8,24,307.339,284.404,1,8
3,user_480,611,490,1,94,525.803,471.330,0,1
4,user_650,504,479,12,4,548.739,486.525,0,12

In [36]:
users[['problem_solved','submission_count']].map(lambda x: x.submission_count - x.problem_solved)

AttributeError: 'DataFrame' object has no attribute 'map'

In [37]:
users['failed'] = users['submission_count'] - users['problem_solved']

In [38]:
users.drop('success',axis=1, inplace=True)

KeyError: "['success'] not found in axis"

In [39]:
users.drop('contribution',axis=1, inplace=True)
users.head()

,user_id,submission_count,problem_solved,follower_count,max_rating,rating,rank_enc,contribution_abs,failed
0,user_3311,47,40,4,348.337,330.849,3,0,7
1,user_3028,63,52,17,405.677,339.450,3,0,11
2,user_2268,226,203,24,307.339,284.404,1,8,23
3,user_480,611,490,94,525.803,471.330,0,1,121
4,user_650,504,479,4,548.739,486.525,0,12,25

In [40]:
from sklearn.preprocessing import StandardScaler
data = [[0, 0], [0, 0], [1, 1], [1, 1]]
scaler = StandardScaler()
print(scaler.fit(data))
print(scaler.mean_)
print(scaler.transform(data))
print(scaler.inverse_transform([[2, 2]]))

StandardScaler(copy=True, with_mean=True, with_std=True)
[0.5 0.5]
[[-1. -1.]
 [-1. -1.]
 [ 1.  1.]
 [ 1.  1.]]

TypeError: Cannot cast ufunc multiply output from dtype('float64') to dtype('int64') with casting rule 'same_kind'

In [ ]:
users.columns

In [41]:
# numerical_features = ['submission_count', 'problem_solved', 
#                       'follower_count','max_rating', 'rating',
#                       'contribution_abs', 'failed']

In [42]:
results['user_id'].unique().shape

(3529,)

In [43]:
users.shape

(3571, 9)

In [44]:
test['user_id'].unique().shape

(3501,)

In [45]:
test['user_id'].head()

0     user_856
1    user_2642
2    user_2557
3    user_1572
4     user_295
Name: user_id, dtype: object

In [46]:
users[users['user_id'] == 'user_295']

,user_id,submission_count,problem_solved,follower_count,max_rating,rating,rank_enc,contribution_abs,failed
2514,user_295,113,89,3,455.275,448.108,3,0,24

In [53]:
unknown_users = []
for i in test['user_id']:
    if(users.shape[0] - users['user_id'].where(users['user_id'] == i).isnull().sum() != 1):
        print(i)
        unknown_users.append(i)

In [54]:
unknown_users

[]

In [48]:
unknown_problems = []
for i in test['problem_id']:
    if(problems.shape[0] - problems['problem_id'].where(problems['problem_id'] == i).isnull().sum() != 1):
        print(i)
        unknown_problems.append(i)

In [49]:
unknown_problems

[]

In [50]:
problems.head()

,Unnamed: 0,problem_id,level_type,points,tags,tag_dict,tag_vect
0,0,prob_3649,H,NaN,NaN,NaN,NaN
1,1,prob_6191,A,NaN,NaN,NaN,NaN
2,2,prob_2020,F,NaN,NaN,NaN,NaN
3,3,prob_313,A,500.0,"greedy,implementation","['greedy', 'implementation']","(0, 35)\t0.643835105031232\n (0, 33)\t0.765..."
4,4,prob_101,A,500.0,"constructive algorithms,greedy,math","['constructive algorithms', 'greedy', 'math']","(0, 37)\t0.4053203601812274\n (0, 33)\t0.40..."

In [51]:
users.isnull().sum()

user_id             0
submission_count    0
problem_solved      0
follower_count      0
max_rating          0
rating              0
rank_enc            0
contribution_abs    0
failed              0
dtype: int64

In [52]:
problems.isnull().sum()

Unnamed: 0       0
problem_id       0
level_type     133
points        3917
tags          3484
tag_dict      3484
tag_vect      3484
dtype: int64

In [55]:
users.columns

Index(['user_id', 'submission_count', 'problem_solved', 'follower_count',
       'max_rating', 'rating', 'rank_enc', 'contribution_abs', 'failed'],
      dtype='object')

In [58]:
problems.columns, users.shape, problems.shape

(Index(['Unnamed: 0', 'problem_id', 'level_type', 'points', 'tags', 'tag_dict',
        'tag_vect'],
       dtype='object'), (3571, 9), (6544, 7))

In [61]:
results.columns, results.shape

(Index(['user_id', 'problem_id', 'attempts_range'], dtype='object'),
 (155295, 3))

                    ID    user_id problem_id
0   user_856_prob_5822   user_856  prob_5822
1  user_2642_prob_2334  user_2642  prob_2334
2  user_2557_prob_2920  user_2557  prob_2920
3  user_1572_prob_4598  user_1572  prob_4598
4   user_295_prob_6139   user_295  prob_6139