In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

results = pd.read_csv('data/train/train_submissions.csv')
test = pd.read_csv('data/test_submissions_NeDLEvX.csv')
users = pd.read_csv('cleaned_users.csv')
problems = pd.read_csv('problems_features.csv')
results.shape, test.shape, problems.shape, users.shape

((155295, 3), (66555, 3), (6544, 7), (3571, 11))

In [22]:
problems.head()

,Unnamed: 0,problem_id,level_type,points,tags,tag_dict,tag_vect
0,0,prob_3649,H,NaN,NaN,NaN,NaN
1,1,prob_6191,A,NaN,NaN,NaN,NaN
2,2,prob_2020,F,NaN,NaN,NaN,NaN
3,3,prob_313,A,500.0,"greedy,implementation","['greedy', 'implementation']","(0, 35)\t0.643835105031232\n (0, 33)\t0.765..."
4,4,prob_101,A,500.0,"constructive algorithms,greedy,math","['constructive algorithms', 'greedy', 'math']","(0, 37)\t0.4053203601812274\n (0, 33)\t0.40..."

In [23]:
users.head()

,Unnamed: 0,user_id,submission_count,problem_solved,contribution,follower_count,max_rating,rating,rank,rank_enc,contribution_abs
0,0,user_3311,47,40,0,4,348.337,330.849,intermediate,3,0
1,1,user_3028,63,52,0,17,405.677,339.450,intermediate,3,0
2,2,user_2268,226,203,-8,24,307.339,284.404,beginner,1,8
3,3,user_480,611,490,1,94,525.803,471.330,advanced,0,1
4,4,user_650,504,479,12,4,548.739,486.525,advanced,0,12

In [24]:
problems.isnull().sum()

Unnamed: 0       0
problem_id       0
level_type     133
points        3917
tags          3484
tag_dict      3484
tag_vect      3484
dtype: int64

In [29]:
from sklearn.preprocessing import LabelEncoder

enc = LabelEncoder()

u_ids = list(users.user_id.values) + list(results.user_id.values) + list(test.user_id.values)
p_ids = list(problems.problem_id.values) + list(results.problem_id.values) + list(test.problem_id.values)

In [35]:
len(u_ids), np.unique(u_ids).shape,len(p_ids), np.unique(p_ids).shape

(225421, (3571,), 228394, (6544,))

In [38]:
enc.fit(u_ids)
users['user_id_enc'] = enc.transform(users.user_id)
results['user_id_enc'] = enc.transform(results.user_id)
test['user_id_enc'] = enc.transform(test.user_id)

In [39]:
enc.fit(p_ids)
problems['problem_id_enc'] = enc.transform(problems.problem_id)
results['problem_id_enc'] = enc.transform(results.problem_id)
test['problem_id_enc'] = enc.transform(test.problem_id)

In [44]:
print(test.loc[0]['problem_id_enc'])
test.loc[0]

5359

ID                user_856_prob_5822
user_id                     user_856
problem_id                 prob_5822
user_id_enc                     3412
problem_id_enc                  5359
Name: 0, dtype: object

In [46]:
users, problems, results, test

(      Unnamed: 0    user_id  submission_count  problem_solved  contribution  \
 0              0  user_3311                47              40             0
 1              1  user_3028                63              52             0
 2              2  user_2268               226             203            -8
 3              3   user_480               611             490             1
 4              4   user_650               504             479            12
 5              5  user_3177                 3               1             0
 6              6  user_2032               216             199             0
 7              7  user_3306                 2               1             0
 8              8  user_1483                91              79             0
 9              9   user_667                91              71             0
 10            10  user_2871                12              12             0
 11            11   user_972               473             441             0
 12            12  user_1972               107              99             0
 13            13  user_3031               669             632             0
 14            14  user_2771               229             218             0
 15            15   user_991               338             311             0
 16            16   user_663               482             463            -3
 17            17   user_347               367             300            15
 18            18  user_1258               422             384            -1
 19            19  user_1122               145             118             0
 20            20  user_2596               229             222            -4
 21            21  user_2377                 7               6             0
 22            22  user_2620                80              65             0
 23            23  user_2450                55              49             0
 24            24  user_1930               772             686            13
 25            25  user_3317               735             715             0
 26            26  user_1562               455             408             0
 27            27  user_1469                40              33             0
 28            28   user_564               250             223            -1
 29            29  user_1863               488             440             3
 ...          ...        ...               ...             ...           ...
 3541        3541   user_155               295             247           -15
 3542        3542  user_1021                 6               5             0
 3543        3543  user_1255               579             538             0
 3544        3544   user_752                74              64             0
 3545        3545  user_2910                48              38             0
 3546        3546  user_2964               232             228             0
 3547        3547  user_1019               199             177             0
 3548        3548  user_3551               573             532            35
 3549        3549  user_1069               750             558             0
 3550        3550  user_2839               126              95             0
 3551        3551   user_205                23              12             0
 3552        3552  user_2443               664             622            50
 3553        3553  user_3330               326             311             3
 3554        3554  user_1066               286             264            11
 3555        3555  user_3399                13               7             0
 3556        3556  user_2890               244             157             0
 3557        3557  user_1638               365             296             3
 3558        3558   user_717                58              55             0
 3559        3559   user_492                35              28             0
 3560        3560  user_1209               840             782           157
 3561        3561  user_2621               129             105             0
 3562        3562  user_3296               665             660             0
 3563        3563  user_2762               453             388            14
 3564        3564  user_1872               224             210           -20
 3565        3565   user_896               459             398             0
 3566        3566  user_2685               161             120             0
 3567        3567  user_1548                41              30             0
 3568        3568  user_1929                58              51             0
 3569        3569  user_2772               148             137             0
 3570        3570  user_2179               163             115             6

       follower_count  max_rating   rating          rank  rank_enc  \
 0                  4     348.337  330.849  intermediate         3
 1                 17     405.677  339.450  intermediate         3
 2                 24     307.339  284.404      beginner         1
 3                 94     525.803  471.330      advanced         0
 4                  4     548.739  486.525      advanced         0
 5                  0     331.135  331.135  intermediate         3
 6                 28     387.328  387.328  intermediate         3
 7                  0     304.186  281.250      beginner         1
 8                  0     318.807  258.888      beginner         1
 9                  4     383.028  362.959  intermediate         3
 10                16     484.805  484.805      advanced         0
 11                88     491.112  403.670  intermediate         3
 12                11     304.186  203.842      beginner         1
 13                63     356.938  303.899      beginner         1
 14                 6     375.000  355.218  intermediate         3
 15                14     361.525  341.743  intermediate         3
 16               114     452.408  418.291  intermediate         3
 17               117     619.839  564.507      advanced         0
 18                25     352.638  263.475      beginner         1
 19                 3     313.073  261.468      beginner         1
 20                 3     441.514  407.683  intermediate         3
 21                 0     360.092  327.122  intermediate         3
 22                 3     317.087  292.431      beginner         1
 23                 8     428.899  382.741  intermediate         3
 24                50     618.693  569.667      advanced         0
 25                 9     419.438  353.211  intermediate         3
 26                39     397.936  389.335  intermediate         3
 27                 1     371.560  303.326      beginner         1
 28                25     411.124  401.950  intermediate         3
 29                89     423.165  409.117  intermediate         3
 ...              ...         ...      ...           ...       ...
 3541              31     366.686  335.722  intermediate         3
 3542               0     317.947  261.755      beginner         1
 3543              94     485.092  466.456      advanced         0
 3544               7     307.339  112.672      beginner         1
 3545               5     316.514  316.514  intermediate         3
 3546              10     321.674  311.353      beginner         1
 3547              10     342.030  342.030  intermediate         3
 3548             407     748.280  748.280        expert         2
 3549               1     309.633  305.046      beginner         1
 3550              21     337.729  337.729  intermediate         3
 3551               0     315.080  271.502      beginner         1
 3552             196     533.257  507.454      advanced         0
 3553               2     315.367  294.438      beginner         1
 3554              50     464.736  422.305  intermediate         3
 3555               0     304.186  292.718      beginner         1
 3556              21     305.619  197.534      beginner         1
 3557              56     397.649  328.555  intermediate         3
 3558               1     346.044  313.933  intermediate         3
 3559               8     311.353  290.138      beginner         1
 3560             959     735.665  663.704        expert         2
 3561               5     312.500  275.516      beginner         1
 3562              39     549.885  549.885      advanced         0
 3563              69     690.367  646.216        expert         2
 3564               8     317.661  291.858      beginner         1
 3565              56     313.933  235.952      beginner         1
 3566              42     306.193  246.560      beginner         1
 3567               0     331.135  218.463      beginner         1
 3568               0     330.275  262.901      beginner         1
 3569               2     409.977  345.757  intermediate         3
 3570              40     392.775  288.704      beginner         1

       contribution_abs  user_id_enc
 0                    0         2570
 1                    0         2255
 2                    8         1410
 3                    1         2995
 4                   12         3184
 5                    0         2420
 6                    0         1149
 7                    0         2564
 8                    0          538
 9                    0         3202
 10                   0         2080
 11                   0         3541
 12                   0         1081
 13                   0         2259
 14                   0         1969
 15                   0         3562
 16                   3         3198
 17                  15         2745
 18                   1          288
 19                   0          138
 20                   4         1774
 21                   0         1531
 22                   0         1802
 23                   0         1613
 24                  13         1035
 25                   0         2576
 26                   0          626
 27                   0          522
 28                   1         3088
 29                   3          960
 ...                ...          ...
 3541                15          612
 3542                 0           26
 3543                 0          285
 3544                 0         3297
 3545                 0         2124
 3546                 0         2183
 3547                 0           23
 3548                35         2836
 3549                 0           78
 3550                 0         2044
 3551                 0         1168
 3552                50         1605
 3553                 3         2591
 3554                11           75
 3555                 0         2666
 3556                 0         2101
 3557                 3          710
 3558                 0         3258
 3559                 0         3008
 3560               157          234
 3561                 0         1803
 3562                 0         2552
 3563                14         1959
 3564                20          970
 3565                 0         3456
 3566                 0         1873
 3567                 0          610
 3568                 0         1033
 3569                 0         1970
 3570                 6         1311

 [3571 rows x 12 columns],       Unnamed: 0 problem_id level_type  points  \
 0              0  prob_3649          H     NaN
 1              1  prob_6191          A     NaN
 2              2  prob_2020          F     NaN
 3              3   prob_313          A   500.0
 4              4   prob_101          A   500.0
 5              5  prob_1479          E     NaN
 6              6  prob_2940          B     NaN
 7              7  prob_3059          B     5.0
 8              8  prob_1958          D     NaN
 9              9  prob_6154          C     NaN
 10            10  prob_4069          B  1000.0
 11            11  prob_4926          A   500.0
 12            12  prob_3154          K     NaN
 13            13  prob_1538          A     NaN
 14            14  prob_3750          B  1000.0
 15            15  prob_4440          I     NaN
 16            16  prob_4569          A     NaN
 17            17  prob_4189          D     NaN
 18            18   prob_526          D  2000.0
 19            19  prob_5498          I     NaN
 20            20  prob_3216          F     NaN
 21            21  prob_1412          C  1500.0
 22            22  prob_5088          B     NaN
 23            23  prob_5693          D  2000.0
 24            24    prob_75          A   500.0
 25            25  prob_1035          I     NaN
 26            26  prob_2822          C     NaN
 27            27  prob_3277          D  2000.0
 28            28  prob_3284        NaN     NaN
 29            29  prob_3714          D     NaN
 ...          ...        ...        ...     ...
 6514        6514  prob_3582          I     NaN
 6515        6515  prob_3195          D     NaN
 6516        6516  prob_2594          A   500.0
 6517        6517  prob_5657          J     NaN
 6518        6518  prob_6128          G     NaN
 6519        6519  prob_4870          C  1500.0
 6520        6520   prob_109          E     NaN
 6521        6521  prob_4512          D     NaN
 6522        6522  prob_2152          A   500.0
 6523        6523  prob_6202          I     NaN
 6524        6524  prob_6192          C     NaN
 6525        6525  prob_4405          A   500.0
 6526        6526  prob_6232          N     NaN
 6527        6527  prob_5620          D     NaN
 6528        6528  prob_2317          G     NaN
 6529        6529  prob_1047          C     NaN
 6530        6530  prob_5072          B     NaN
 6531        6531   prob_441          E     NaN
 6532        6532   prob_631          B  1000.0
 6533        6533  prob_2896          J     NaN
 6534        6534  prob_2390          J     NaN
 6535        6535  prob_3160          B  1000.0
 6536        6536   prob_933          D     NaN
 6537        6537  prob_1311          B  1000.0
 6538        6538  prob_2482          E     NaN
 6539        6539  prob_3989          K     NaN
 6540        6540  prob_2710          A   500.0
 6541        6541  prob_3269          C  1500.0
 6542        6542  prob_5071          A   500.0
 6543        6543  prob_1124          B     NaN

                                                   tags  \
 0                                                  NaN
 1                                                  NaN
 2                                                  NaN
 3                                greedy,implementation
 4                  constructive algorithms,greedy,math
 5                                                  NaN
 6                                                  NaN
 7                                          brute force
 8                                                  NaN
 9                                                  NaN
 10                          dfs and similar,dsu,graphs
 11                                      implementation
 12                                                 NaN
 13                                                 NaN
 14                                                math
 15                                                 NaN
 16                                                 NaN
 17                                                 NaN
 18                                  math,number theory
 19                                                 NaN
 20                                                 NaN
 21                        brute force,dp,number theory
 22                                                 NaN
 23                  brute force,dfs and similar,graphs
 24                                      implementation
 25                                                 NaN
 26             data structures,expression parsing,math
 27                              dfs and similar,greedy
 28                                                 NaN
 29                                                 NaN
 ...                                                ...
 6514                                               NaN
 6515                                               NaN
 6516                                math,number theory
 6517                                               NaN
 6518                                               NaN
 6519                             greedy,implementation
 6520                                               NaN
 6521           data structures,implementation,sortings
 6522                                math,number theory
 6523                                               NaN
 6524                                               NaN
 6525                                            greedy
 6526                                               NaN
 6527                                               NaN
 6528                                               NaN
 6529                                       brute force
 6530                                               NaN
 6531                                               NaN
 6532            constructive algorithms,implementation
 6533                                               NaN
 6534                                               NaN
 6535                            binary search,geometry
 6536                                               NaN
 6537  constructive algorithms,geometry,greedy,sortings
 6538                                               NaN
 6539                                               NaN
 6540                               dfs and similar,dsu
 6541                         brute force,number theory
 6542                                    implementation
 6543                                               NaN

                                                tag_dict  \
 0                                                   NaN
 1                                                   NaN
 2                                                   NaN
 3                          ['greedy', 'implementation']
 4         ['constructive algorithms', 'greedy', 'math']
 5                                                   NaN
 6                                                   NaN
 7                                       ['brute force']
 8                                                   NaN
 9                                                   NaN
 10                 ['dfs and similar', 'dsu', 'graphs']
 11                                   ['implementation']
 12                                                  NaN
 13                                                  NaN
 14                                             ['math']
 15                                                  NaN
 16                                                  NaN
 17                                                  NaN
 18                            ['math', 'number theory']
 19                                                  NaN
 20                                                  NaN
 21               ['brute force', 'dp', 'number theory']
 22                                                  NaN
 23         ['brute force', 'dfs and similar', 'graphs']
 24                                   ['implementation']
 25                                                  NaN
 26    ['data structures', 'expression parsing', 'math']
 27                        ['dfs and similar', 'greedy']
 28                                                  NaN
 29                                                  NaN
 ...                                                 ...
 6514                                                NaN
 6515                                                NaN
 6516                          ['math', 'number theory']
 6517                                                NaN
 6518                                                NaN
 6519                       ['greedy', 'implementation']
 6520                                                NaN
 6521  ['data structures', 'implementation', 'sortings']

In [54]:
problems.columns

Index(['Unnamed: 0', 'problem_id', 'level_type', 'points', 'tags', 'tag_dict',
       'tag_vect', 'problem_id_enc'],
      dtype='object')

In [49]:
users.head()

,Unnamed: 0,user_id,submission_count,problem_solved,contribution,follower_count,max_rating,rating,rank,rank_enc,contribution_abs,user_id_enc
0,0,user_3311,47,40,0,4,348.337,330.849,intermediate,3,0,2570
1,1,user_3028,63,52,0,17,405.677,339.450,intermediate,3,0,2255
2,2,user_2268,226,203,-8,24,307.339,284.404,beginner,1,8,1410
3,3,user_480,611,490,1,94,525.803,471.330,advanced,0,1,2995
4,4,user_650,504,479,12,4,548.739,486.525,advanced,0,12,3184

In [52]:
u1 = users.drop(['Unnamed: 0', 'user_id','rank','contribution'],axis=1)
u1.to_csv('final_users.csv',index=False)

In [55]:
problems.head()

,Unnamed: 0,problem_id,level_type,points,tags,tag_dict,tag_vect,problem_id_enc
0,0,prob_3649,H,NaN,NaN,NaN,NaN,2944
1,1,prob_6191,A,NaN,NaN,NaN,NaN,5769
2,2,prob_2020,F,NaN,NaN,NaN,NaN,1136
3,3,prob_313,A,500.0,"greedy,implementation","['greedy', 'implementation']","(0, 35)\t0.643835105031232\n (0, 33)\t0.765...",2368
4,4,prob_101,A,500.0,"constructive algorithms,greedy,math","['constructive algorithms', 'greedy', 'math']","(0, 37)\t0.4053203601812274\n (0, 33)\t0.40...",13

In [ ]:
problems['level_type'].fillna('O', inplace=True)
enc.fit(problems['level_type'])
problems['level_enc'] = enc.transform(problems['level_type'])

In [72]:
problems.head()

,Unnamed: 0,problem_id,level_type,points,tags,tag_dict,tag_vect,problem_id_enc,level_enc
0,0,prob_3649,H,NaN,NaN,NaN,NaN,2944,7
1,1,prob_6191,A,NaN,NaN,NaN,NaN,5769,0
2,2,prob_2020,F,NaN,NaN,NaN,NaN,1136,5
3,3,prob_313,A,500.0,"greedy,implementation","['greedy', 'implementation']","(0, 35)\t0.643835105031232\n (0, 33)\t0.765...",2368,0
4,4,prob_101,A,500.0,"constructive algorithms,greedy,math","['constructive algorithms', 'greedy', 'math']","(0, 37)\t0.4053203601812274\n (0, 33)\t0.40...",13,0

In [73]:
problems.columns

Index(['Unnamed: 0', 'problem_id', 'level_type', 'points', 'tags', 'tag_dict',
       'tag_vect', 'problem_id_enc', 'level_enc'],
      dtype='object')

In [76]:
problems.dropna(inplace=True)
problems.drop(['Unnamed: 0', 'problem_id', 'level_type'],axis=1, inplace=True)
problems.head()

,points,tags,tag_dict,tag_vect,problem_id_enc,level_enc
3,500.0,"greedy,implementation","['greedy', 'implementation']","(0, 35)\t0.643835105031232\n (0, 33)\t0.765...",2368,0
4,500.0,"constructive algorithms,greedy,math","['constructive algorithms', 'greedy', 'math']","(0, 37)\t0.4053203601812274\n (0, 33)\t0.40...",13,0
7,5.0,brute force,['brute force'],"(0, 27)\t0.5773502691896257\n (0, 7)\t0.577...",2289,1
10,1000.0,"dfs and similar,dsu,graphs","['dfs and similar', 'dsu', 'graphs']","(0, 55)\t0.41784825617123766\n (0, 32)\t0.4...",3411,1
11,500.0,implementation,['implementation'],"(0, 35)\t1.0",4363,0

In [77]:
problems.to_csv('final_problems.csv',index=False)

In [78]:
results.head()

     user_id problem_id  attempts_range  user_id_enc  problem_id_enc
0   user_232  prob_6507               1         1468            6120
1  user_3568  prob_2994               3         2854            2216
2  user_1600  prob_5071               1          669            4525
3  user_2256   prob_703               1         1397            6216
4  user_2321   prob_356               1         1470            2845

In [79]:
results.drop(['user_id','problem_id'],axis=1)
results.to_csv('final_results.csv',index=False)

In [80]:
test.head()

                    ID    user_id problem_id  user_id_enc  problem_id_enc
0   user_856_prob_5822   user_856  prob_5822         3412            5359
1  user_2642_prob_2334  user_2642  prob_2334         1826            1484
2  user_2557_prob_2920  user_2557  prob_2920         1731            2135
3  user_1572_prob_4598  user_1572  prob_4598          637            3998
4   user_295_prob_6139   user_295  prob_6139         2167            5711

In [82]:
test.drop(['ID', 'user_id', 'problem_id'],axis=1)
test.to_csv('final_tests.csv',index=False)

In [87]:
np.sort(users.user_id_enc.values)

array([   0,    1,    2, ..., 3568, 3569, 3570])

In [88]:
np.sort(problems.problem_id_enc.values)

array([   3,    5,    6, ..., 6534, 6541, 6543])

In [89]:
users.shape

(3571, 12)

In [90]:
problems.shape

(2546, 6)

In [ ]:
 (6544, 7), (3571, 11))

In [9]:
problems.dropna(inplace=True)

In [12]:
u_ids = users.user_id.unique()
p_ids = problems.problem_id.unique()

In [17]:
u_ids.sort()
p_ids.sort()

In [20]:
p_ids

array(['prob_1000', 'prob_1002', 'prob_1003', ..., 'prob_990', 'prob_997',
       'prob_999'], dtype=object)

In [2]:
u1 = results.user_id.unique()
u2 = test.user_id.unique()
p1 = results.problem_id.unique()
p2 = test.problem_id.unique()

In [3]:
u1.shape, u2.shape, p1.shape, p2.shape

((3529,), (3501,), (5776,), (4716,))

In [5]:
u1.sort()

In [6]:
u1

array(['user_1', 'user_10', 'user_100', ..., 'user_997', 'user_998',
       'user_999'], dtype=object)

In [7]:
u2.sort()
u2

array(['user_1', 'user_10', 'user_100', ..., 'user_997', 'user_998',
       'user_999'], dtype=object)

In [8]:
u1 == u2

/home/ankish/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning: elementwise == comparison failed; this will raise an error in the future.
  """Entry point for launching an IPython kernel.

False

In [9]:
collect_u2 = []
for i in u2:
    count = 0
    for j in u1:
        if(i==j):
            count = 1
    if(count == 0):
        print(i)
        collect_u2.append(i)

user_1413
user_1726
user_181
user_2523
user_29
user_3177
user_3384
user_3389
user_3427
user_697
user_742
user_775

In [11]:
# collect_u2

In [12]:
collect_p2 = []
for i in p2:
    count = 0
    for j in p1:
        if(i==j):
            count = 1
    if(count == 0):
        print(i)
        collect_p2.append(i)

prob_168
prob_1977
prob_5189
prob_5981
prob_4729
prob_236
prob_6392
prob_1651
prob_5344
prob_5136
prob_2307
prob_6082
prob_6113
prob_5909
prob_3545
prob_2865
prob_1132
prob_1204
prob_1387
prob_3563
prob_3410
prob_3498
prob_5138
prob_2119
prob_6199
prob_3021
prob_5615
prob_5074
prob_1477
prob_129
prob_2711
prob_4410
prob_3552
prob_3266
prob_4585
prob_1271
prob_6179
prob_285
prob_4958
prob_3862
prob_223
prob_2277
prob_4453
prob_2729
prob_4739
prob_4998
prob_4393
prob_4792
prob_3888
prob_1650
prob_4984
prob_5341
prob_4636
prob_259
prob_817
prob_3500
prob_3517
prob_1572
prob_5862
prob_4743
prob_2687
prob_1753
prob_2971
prob_1369
prob_2616
prob_443
prob_1972
prob_4246
prob_725
prob_2796
prob_3071
prob_1296
prob_5084
prob_177
prob_3433
prob_25
prob_687
prob_6132
prob_5281
prob_5937
prob_3715
prob_6316
prob_4976
prob_575
prob_4762
prob_4483
prob_3058
prob_134
prob_2520
prob_3321
prob_4788
prob_2168
prob_3432
prob_4815
prob_2966
prob_2484
prob_328
prob_5799
prob_6406
prob_2426
prob_855
prob_2136
prob_2489
prob_1062
prob_728
prob_1286
prob_5239
prob_4418
prob_4765
prob_569
prob_1857
prob_128
prob_3651
prob_6183
prob_3681
prob_5789
prob_170
prob_4613
prob_727
prob_1303
prob_2328
prob_1075
prob_3721
prob_5973
prob_4010
prob_1259
prob_316
prob_3154
prob_4374
prob_2636
prob_5989
prob_2317
prob_2479
prob_1610
prob_5118
prob_910
prob_5108
prob_2408
prob_1576
prob_5421
prob_5556
prob_5256
prob_3161
prob_3384
prob_126
prob_1982
prob_5786
prob_2191
prob_2032
prob_3735
prob_6284
prob_2188
prob_4231
prob_927
prob_4199
prob_94
prob_6019
prob_1335
prob_6346
prob_2575
prob_2910
prob_2715
prob_3382
prob_5711
prob_3756
prob_609
prob_3554
prob_3195
prob_8
prob_1701
prob_1214
prob_4051
prob_5657
prob_4631
prob_3877
prob_4455
prob_4758
prob_3596
prob_200
prob_372
prob_653
prob_3485
prob_2541
prob_2891
prob_1479
prob_2241
prob_3717
prob_1073
prob_3853
prob_5703
prob_1198
prob_5978
prob_2444
prob_923
prob_6059
prob_6427
prob_4224
prob_5561
prob_652
prob_3507
prob_6314
prob_4106
prob_6370
prob_4405
prob_3984
prob_5928
prob_1143
prob_1766
prob_5446
prob_4090
prob_6278
prob_2623
prob_2176
prob_1327
prob_1014
prob_657
prob_511
prob_248
prob_6355
prob_1144
prob_5049
prob_1439
prob_3672
prob_1178
prob_364
prob_6013
prob_2537
prob_5976
prob_764
prob_5788
prob_1039
prob_931
prob_4525
prob_2661
prob_2591
prob_1320
prob_2406
prob_2397
prob_6283
prob_6506
prob_279
prob_2641
prob_1480
prob_5159
prob_1759
prob_4592
prob_290
prob_5526
prob_404
prob_407
prob_386
prob_5936
prob_3289
prob_108
prob_2840
prob_2550
prob_4449
prob_3084
prob_202
prob_2301
prob_1948
prob_2409
prob_5282
prob_5468
prob_2251
prob_1971
prob_526
prob_1376
prob_5432
prob_5854
prob_2475
prob_6432
prob_4016
prob_97
prob_4363
prob_1821
prob_6365
prob_3000
prob_5673
prob_1196
prob_981
prob_4040
prob_4451
prob_3391
prob_4000
prob_3897
prob_4432
prob_4781
prob_1137
prob_2386
prob_3386
prob_3285
prob_4632
prob_6077
prob_2011
prob_909
prob_5381
prob_3007
prob_5264
prob_778
prob_2807
prob_1838
prob_3374
prob_6108
prob_3212
prob_6485
prob_4548
prob_5665
prob_3102
prob_1646
prob_61
prob_976
prob_987
prob_4348
prob_4973
prob_5188
prob_2970
prob_398
prob_2407
prob_3416
prob_5563
prob_2467
prob_4183
prob_4104
prob_4638
prob_4515
prob_4684
prob_2044
prob_2613
prob_3961
prob_359
prob_47
prob_1573
prob_3275
prob_3098
prob_295
prob_4346
prob_2023
prob_3489
prob_4394
prob_4412
prob_5347
prob_4464
prob_3108
prob_2907
prob_1389
prob_1367
prob_5719
prob_3576
prob_1622
prob_917
prob_6502
prob_4430
prob_3029
prob_6387
prob_2143
prob_1375
prob_4937
prob_5153
prob_4906
prob_4669
prob_5464
prob_5077
prob_3518
prob_692
prob_6403
prob_5791
prob_5498
prob_6400
prob_1804
prob_1182
prob_1562
prob_4883
prob_493
prob_1852
prob_161
prob_2642
prob_3901
prob_341
prob_3669
prob_5109
prob_4450
prob_907
prob_2513
prob_3013
prob_5829
prob_5669
prob_4311
prob_4123
prob_416
prob_4841
prob_5327
prob_3900
prob_2867
prob_1897
prob_1046
prob_2066
prob_1517
prob_263
prob_4875
prob_3457
prob_2488
prob_3743
prob_1176
prob_2942
prob_2851
prob_6315
prob_2666
prob_3597
prob_6290
prob_1139
prob_5698
prob_3583
prob_4172
prob_6511
prob_5879
prob_1500
prob_6438
prob_1186
prob_3783
prob_1933
prob_5733
prob_1063
prob_4398
prob_1725
prob_3702
prob_2681
prob_1667
prob_3494
prob_5237
prob_1499
prob_968
prob_3602
prob_6202
prob_6480
prob_5685

In [14]:
len(collect_u2), len(collect_p2)

(12, 436)

In [15]:
12*436

5232

In [16]:
test.shape

(66555, 3)

In [17]:
results

          user_id problem_id  attempts_range
0        user_232  prob_6507               1
1       user_3568  prob_2994               3
2       user_1600  prob_5071               1
3       user_2256   prob_703               1
4       user_2321   prob_356               1
5       user_1569  prob_6064               1
6       user_3293  prob_1237               1
7        user_915  prob_4125               2
8       user_2032  prob_1943               1
9       user_1410  prob_3935               1
10      user_2085  prob_5436               1
11      user_1810  prob_3431               2
12      user_1287  prob_3474               1
13      user_2063  prob_2872               1
14       user_724  prob_6043               2
15        user_88  prob_1914               2
16      user_2269  prob_5641               1
17       user_489   prob_522               1
18      user_1997    prob_32               1
19      user_1929  prob_5731               2
20      user_2084  prob_4232               1
21       user_923  prob_3508               2
22       user_150  prob_6488               1
23      user_2898  prob_1605               1
24      user_3086  prob_2605               1
25      user_2552   prob_534               1
26       user_508  prob_3073               1
27      user_1910  prob_6442               4
28      user_1066   prob_106               1
29      user_1637  prob_1482               1
...           ...        ...             ...
155265  user_1813  prob_1677               1
155266   user_948  prob_4835               1
155267  user_1093  prob_4087               1
155268   user_144  prob_4702               2
155269  user_2407  prob_1396               2
155270  user_2321  prob_4152               2
155271  user_2507  prob_1737               4
155272   user_727   prob_137               1
155273  user_2635  prob_5045               1
155274  user_3114  prob_3445               2
155275  user_2928  prob_5333               1
155276  user_1433  prob_2936               3
155277   user_595    prob_95               1
155278  user_3151  prob_5374               1
155279  user_1346  prob_5995               1
155280  user_1588  prob_5781               1
155281  user_1529  prob_1679               1
155282  user_2815  prob_5880               1
155283  user_3461  prob_5150               1
155284  user_3013  prob_2284               1
155285  user_1563   prob_740               1
155286  user_2838  prob_1181               1
155287  user_1533  prob_5837               2
155288  user_3205  prob_3474               1
155289  user_3271  prob_5932               2
155290  user_2959  prob_2052               1
155291  user_2530  prob_6167               6
155292   user_445  prob_3110               1
155293  user_2337  prob_2685               2
155294  user_1645  prob_4511               2

[155295 rows x 3 columns]