In [1]:
# from surprise import SVD
# from surprise import Dataset
# from surprise import accuracy
# from surprise.model_selection import train_test_split

# # Load the movielens-100k dataset (download it if needed),
# data = Dataset.load_builtin('ml-100k')

# # sample random trainset and testset
# # test set is made of 25% of the ratings.
# trainset, testset = train_test_split(data, test_size=.25)

# # We'll use the famous SVD algorithm.
# algo = SVD()

# # Train the algorithm on the trainset, and predict ratings for the testset
# algo.fit(trainset)
# predictions = algo.test(testset)

# # Then compute RMSE
# accuracy.rmse(predictions)

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

results = pd.read_csv('data/train/train_submissions.csv')
test = pd.read_csv('data/test_submissions_NeDLEvX.csv')
results.shape, test.shape

((155295, 3), (66555, 3))

In [ ]:
import pandas as pd

from surprise import NormalPredictor
from surprise import Dataset
from surprise import Reader
from surprise.model_selection import cross_validate


# Creation of the dataframe. Column names are irrelevant.
ratings_dict = {'itemID': [1, 1, 1, 2, 2],
                'userID': [9, 32, 2, 45, 'user_foo'],
                'rating': [3, 2, 4, 3, 1]}
df = pd.DataFrame(ratings_dict)

# A reader is still needed but only the rating_scale param is requiered.
reader = Reader(rating_scale=(1, 5))

# The columns must correspond to user id, item id and ratings (in that order).
data = Dataset.load_from_df(df[['userID', 'itemID', 'rating']], reader)

# We can now use this dataset as we please, e.g. calling cross_validate
cross_validate(NormalPredictor(), data, cv=2)

In [3]:
results.head()

     user_id problem_id  attempts_range
0   user_232  prob_6507               1
1  user_3568  prob_2994               3
2  user_1600  prob_5071               1
3  user_2256   prob_703               1
4  user_2321   prob_356               1

In [4]:
results.attempts_range.unique()

array([1, 3, 2, 4, 5, 6])

In [6]:
from surprise import Dataset
from surprise import Reader

reader = Reader(rating_scale=(1, 6))

data = Dataset.load_from_df(results[['user_id','problem_id','attempts_range']],reader)

In [7]:
from surprise import SVD
# from surprise import Dataset
from surprise import accuracy
from surprise.model_selection import train_test_split

# Load the movielens-100k dataset (download it if needed),
# data = Dataset.load_builtin('ml-100k')

# sample random trainset and testset
# test set is made of 25% of the ratings.
trainset, testset = train_test_split(data, test_size=.25)

# We'll use the famous SVD algorithm.
algo = SVD()

# Train the algorithm on the trainset, and predict ratings for the testset
algo.fit(trainset)
predictions = algo.test(testset)

# Then compute RMSE
accuracy.rmse(predictions)

RMSE: 0.9780

0.9780413082638616

In [8]:
results

          user_id problem_id  attempts_range
0        user_232  prob_6507               1
1       user_3568  prob_2994               3
2       user_1600  prob_5071               1
3       user_2256   prob_703               1
4       user_2321   prob_356               1
5       user_1569  prob_6064               1
6       user_3293  prob_1237               1
7        user_915  prob_4125               2
8       user_2032  prob_1943               1
9       user_1410  prob_3935               1
10      user_2085  prob_5436               1
11      user_1810  prob_3431               2
12      user_1287  prob_3474               1
13      user_2063  prob_2872               1
14       user_724  prob_6043               2
15        user_88  prob_1914               2
16      user_2269  prob_5641               1
17       user_489   prob_522               1
18      user_1997    prob_32               1
19      user_1929  prob_5731               2
20      user_2084  prob_4232               1
21       user_923  prob_3508               2
22       user_150  prob_6488               1
23      user_2898  prob_1605               1
24      user_3086  prob_2605               1
25      user_2552   prob_534               1
26       user_508  prob_3073               1
27      user_1910  prob_6442               4
28      user_1066   prob_106               1
29      user_1637  prob_1482               1
...           ...        ...             ...
155265  user_1813  prob_1677               1
155266   user_948  prob_4835               1
155267  user_1093  prob_4087               1
155268   user_144  prob_4702               2
155269  user_2407  prob_1396               2
155270  user_2321  prob_4152               2
155271  user_2507  prob_1737               4
155272   user_727   prob_137               1
155273  user_2635  prob_5045               1
155274  user_3114  prob_3445               2
155275  user_2928  prob_5333               1
155276  user_1433  prob_2936               3
155277   user_595    prob_95               1
155278  user_3151  prob_5374               1
155279  user_1346  prob_5995               1
155280  user_1588  prob_5781               1
155281  user_1529  prob_1679               1
155282  user_2815  prob_5880               1
155283  user_3461  prob_5150               1
155284  user_3013  prob_2284               1
155285  user_1563   prob_740               1
155286  user_2838  prob_1181               1
155287  user_1533  prob_5837               2
155288  user_3205  prob_3474               1
155289  user_3271  prob_5932               2
155290  user_2959  prob_2052               1
155291  user_2530  prob_6167               6
155292   user_445  prob_3110               1
155293  user_2337  prob_2685               2
155294  user_1645  prob_4511               2

[155295 rows x 3 columns]

In [15]:
uid = str(0)  # raw user id (as in the ratings file). They are **strings**!
iid = str(0)  # raw item id (as in the ratings file). They are **strings**!

# get a prediction for specific users and items.
pred = algo.predict(uid, iid, r_ui=4, verbose=True)

user: 0          item: 0          r_ui = 4.00   est = 1.76   {'was_impossible': False}

In [22]:
pred = algo.predict(str(3), str(5), verbose=True)

user: 3          item: 5          r_ui = None   est = 1.76   {'was_impossible': False}

In [12]:
temp = results
temp.sort_values(by='user_id')

         user_id problem_id  attempts_range
47893     user_1  prob_6304               1
114763    user_1   prob_617               1
126076    user_1   prob_332               1
65369     user_1  prob_5266               1
2980      user_1  prob_2990               1
136121    user_1   prob_199               2
69824     user_1  prob_4598               1
116012    user_1  prob_4719               1
124070    user_1  prob_3334               2
118319    user_1  prob_5717               1
26001     user_1  prob_4930               2
30253     user_1   prob_655               2
87337     user_1  prob_6497               1
131121    user_1  prob_3750               1
10359     user_1  prob_2872               1
49006     user_1  prob_6173               1
26672     user_1   prob_522               1
52209     user_1  prob_3734               1
8102      user_1  prob_4278               1
97126     user_1  prob_1625               1
117188    user_1  prob_3413               1
12397     user_1   prob_948               1
125305    user_1  prob_1397               2
153620    user_1  prob_5337               2
46596     user_1    prob_70               2
40785     user_1  prob_1279               1
121588    user_1  prob_5334               1
89186     user_1  prob_1675               1
58576     user_1  prob_5078               1
129867    user_1  prob_3471               1
...          ...        ...             ...
134326  user_999  prob_4076               1
71405   user_999  prob_2640               1
143092  user_999  prob_3875               2
860     user_999  prob_3334               2
59641   user_999  prob_6304               2
24103   user_999  prob_4038               1
87447   user_999  prob_5027               2
134466  user_999   prob_718               2
119526  user_999  prob_3303               2
32035   user_999   prob_211               1
101154  user_999  prob_3750               2
53001   user_999  prob_1537               1
143849  user_999  prob_4626               1
2375    user_999  prob_2605               1
145486  user_999   prob_537               2
147192  user_999   prob_581               2
96727   user_999  prob_5103               2
155036  user_999  prob_2372               1
133472  user_999    prob_53               2
110628  user_999  prob_5781               1
67242   user_999  prob_1695               2
11283   user_999  prob_4734               1
36091   user_999  prob_6258               1
15979   user_999   prob_133               1
150505  user_999  prob_5266               1
83601   user_999  prob_4862               1
821     user_999  prob_3453               1
64656   user_999   prob_655               2
26921   user_999  prob_5678               1
62699   user_999  prob_5970               1

[155295 rows x 3 columns]