In [1]:
# from surprise import Reader, Dataset, SVD, evaluate

import warnings; warnings.simplefilter('ignore')

In [2]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from ast import literal_eval
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.metrics.pairwise import linear_kernel, cosine_similarity
from nltk.stem.snowball import SnowballStemmer
from nltk.stem.wordnet import WordNetLemmatizer
from nltk.corpus import wordnet

In [3]:
from surprise import Reader, Dataset, SVD, evaluate

In [4]:
import os
os.listdir('data/movies_dataset/')

['keywords.csv',
 'movies_metadata.csv',
 'ratings.csv',
 'links.csv',
 'credits.csv',
 'links_small.csv',
 'ratings_small.csv']

# popularity based

In [5]:
meta_data = pd.read_csv('data/movies_dataset/movies_metadata.csv')
meta_data.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [6]:
meta_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
adult                    45466 non-null object
belongs_to_collection    4494 non-null object
budget                   45466 non-null object
genres                   45466 non-null object
homepage                 7782 non-null object
id                       45466 non-null object
imdb_id                  45449 non-null object
original_language        45455 non-null object
original_title           45466 non-null object
overview                 44512 non-null object
popularity               45461 non-null object
poster_path              45080 non-null object
production_companies     45463 non-null object
production_countries     45463 non-null object
release_date             45379 non-null object
revenue                  45460 non-null float64
runtime                  45203 non-null float64
spoken_languages         45460 non-null object
status                   45379 non-null object
tagline                  20412 non-null object
title                    45460 non-null object
video                    45460 non-null object
vote_average             45460 non-null float64
vote_count               45460 non-null float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [9]:
meta_data['genres'][0],meta_data['genres'][1],meta_data['genres'][2]

("[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]",
 "[{'id': 12, 'name': 'Adventure'}, {'id': 14, 'name': 'Fantasy'}, {'id': 10751, 'name': 'Family'}]",
 "[{'id': 10749, 'name': 'Romance'}, {'id': 35, 'name': 'Comedy'}]")

In [10]:
for i in meta_data['genres']:
    if i == isinstance(i,list):
        print('true')

In [11]:
meta_data['genres'][:5]

0    [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1    [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2    [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3    [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4                       [{'id': 35, 'name': 'Comedy'}]
Name: genres, dtype: object

In [12]:
meta_data['genres'].fillna('[]').apply(literal_eval).apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])[:5]

0     [Animation, Comedy, Family]
1    [Adventure, Fantasy, Family]
2               [Romance, Comedy]
3        [Comedy, Drama, Romance]
4                        [Comedy]
Name: genres, dtype: object

In [13]:
meta_data['genres'] = meta_data['genres'].fillna('[]').apply(literal_eval).apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])

In [15]:
# for i in range(meta_data.shape[0]):
#     if meta_data['genres'][i] == meta_data['genres1'][i]:
#         print(i)

In [9]:
meta_data.shape

(45466, 24)

In [14]:
vote_counts = meta_data[meta_data['vote_count'].notnull()]['vote_count'].astype('int')
meta_data[meta_data['vote_count'].notnull()]['vote_count'][:5]

0    5415.0
1    2413.0
2      92.0
3      34.0
4     173.0
Name: vote_count, dtype: float64

In [15]:
vote_counts[:5]

0    5415
1    2413
2      92
3      34
4     173
Name: vote_count, dtype: int64

In [16]:
vote_avgs = meta_data[meta_data['vote_average'].notnull()]['vote_average'].astype('int')
meta_data[meta_data['vote_average'].notnull()]['vote_average'][:5]

0    7.7
1    6.9
2    6.5
3    6.1
4    5.7
Name: vote_average, dtype: float64

In [17]:
vote_avgs[:5]

0    7
1    6
2    6
3    6
4    5
Name: vote_average, dtype: int64

### Weighted Rating (WR) = ((v/v+m) .R)+((m/v+m) .C)

where,

    v is the number of votes for the movie
    m is the minimum votes required to be listed in the chart
    R is the average rating of the movie
    C is the mean vote across the whole report

In [34]:
C = vote_avgs.mean()
m = vote_counts.quantile(0.95)

In [19]:
# import gc
# md = meta_data.copy
# del md
# gc.collect()

In [21]:
meta_data['release_date'][:5]

0    1995-10-30
1    1995-12-15
2    1995-12-22
3    1995-12-22
4    1995-02-10
Name: release_date, dtype: object

In [23]:
str(meta_data['release_date'][0]).split('-')

['1995', '10', '30']

In [24]:
meta_data['year'] = pd.to_datetime(meta_data['release_date'], errors='coerce').apply(lambda x: str(x).split('-')[0] if x != np.nan else np.nan)

In [25]:
meta_data['year'] = pd.to_datetime(meta_data['release_date'], 
                                   errors='coerce').apply(lambda x: str(x).split('-'))

In [26]:
meta_data['year'][:5]

0    [1995, 10, 30 00:00:00]
1    [1995, 12, 15 00:00:00]
2    [1995, 12, 22 00:00:00]
3    [1995, 12, 22 00:00:00]
4    [1995, 02, 10 00:00:00]
Name: year, dtype: object

In [27]:
meta_data['release_date'][:5]

0    1995-10-30
1    1995-12-15
2    1995-12-22
3    1995-12-22
4    1995-02-10
Name: release_date, dtype: object

In [28]:
meta_data['year'] = pd.to_datetime(meta_data['release_date'], 
                                   errors='coerce').apply(lambda x: str(x).split('-')[0] if x != np.nan else np.nan)

In [29]:
meta_data['year'][:5]

0    1995
1    1995
2    1995
3    1995
4    1995
Name: year, dtype: object

In [30]:

qualified = meta_data[(meta_data['vote_count'] >= m) & (meta_data['vote_count'].notnull()) & (meta_data['vote_average'].notnull())][['title', 'year', 'vote_count', 'vote_average', 'popularity', 'genres']]
qualified['vote_count'] = qualified['vote_count'].astype('int')
qualified['vote_average'] = qualified['vote_average'].astype('int')
qualified.head()

,title,year,vote_count,vote_average,popularity,genres
0,Toy Story,1995,5415,7,21.9469,"[Animation, Comedy, Family]"
1,Jumanji,1995,2413,6,17.0155,"[Adventure, Fantasy, Family]"
5,Heat,1995,1886,7,17.9249,"[Action, Crime, Drama, Thriller]"
9,GoldenEye,1995,1194,6,14.686,"[Adventure, Action, Thriller]"
15,Casino,1995,1343,7,10.1374,"[Drama, Crime]"

In [31]:
qualified.shape

(2274, 6)

In [36]:
print("m: ",m, "    C: ",C)

m:  434.0     C:  5.244896612406511

In [37]:
def weighted_rating(x):
#     print("m: ",m, "    C: ",C)
    v = x['vote_count']
    R = x['vote_average']
    return (v/(v+m) * R) + (m/(m+v) * C)

qualified['wr'] = qualified.apply(weighted_rating, axis=1)

In [38]:
qualified.head()

,title,year,vote_count,vote_average,popularity,genres,wr
0,Toy Story,1995,5415,7,21.9469,"[Animation, Comedy, Family]",6.869770
1,Jumanji,1995,2413,6,17.0155,"[Adventure, Fantasy, Family]",5.884891
5,Heat,1995,1886,7,17.9249,"[Action, Crime, Drama, Thriller]",6.671675
9,GoldenEye,1995,1194,6,14.686,"[Adventure, Action, Thriller]",5.798701
15,Casino,1995,1343,7,10.1374,"[Drama, Crime]",6.571348

In [39]:
qualified = qualified.sort_values('wr', ascending=False).head(250)

In [40]:
qualified.head()

,title,year,vote_count,vote_average,popularity,genres,wr
15480,Inception,2010,14075,8,29.1081,"[Action, Thriller, Science Fiction, Mystery, A...",7.917588
12481,The Dark Knight,2008,12269,8,123.167,"[Drama, Action, Crime, Thriller]",7.905871
22879,Interstellar,2014,11187,8,32.2135,"[Adventure, Drama, Science Fiction]",7.897107
2843,Fight Club,1999,9678,8,63.8696,[Drama],7.881753
4863,The Lord of the Rings: The Fellowship of the Ring,2001,8892,8,32.0707,"[Adventure, Fantasy, Action]",7.871787

In [42]:
# meta_data.apply(lambda x: pd.Series(x['genres']),axis=1).stack().reset_index(level=1, drop=True)

In [43]:
s = meta_data.apply(lambda x: pd.Series(x['genres']),axis=1).stack().reset_index(level=1, drop=True)
s.name = 'genre'
s.head()

0    Animation
0       Comedy
0       Family
1    Adventure
1      Fantasy
Name: genre, dtype: object

In [46]:
meta_data.head(2)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,year
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[Animation, Comedy, Family]",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,1995
1,False,NaN,65000000,"[Adventure, Fantasy, Family]",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,1995

In [47]:
meta_data.drop('genres',axis=1).head(2)

,adult,belongs_to_collection,budget,homepage,id,imdb_id,original_language,original_title,overview,popularity,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,year
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.9469,...,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,1995
1,False,NaN,65000000,NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.0155,...,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,1995

In [48]:
meta_data.drop('genres',axis=1).join(s).head(2)

,adult,belongs_to_collection,budget,homepage,id,imdb_id,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,year,genre
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.9469,...,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,1995,Animation
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.9469,...,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,1995,Comedy

In [49]:
s.head()

0    Animation
0       Comedy
0       Family
1    Adventure
1      Fantasy
Name: genre, dtype: object

In [51]:
gen_meta_data = meta_data.drop('genres',axis=1).join(s)

In [50]:
s[0]

0    Animation
0       Comedy
0       Family
Name: genre, dtype: object

In [66]:
meta_data['genres'][3]

"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'name': 'Drama'}, {'id': 10749, 'name': 'Romance'}]"

In [67]:
# gen_meta_data = meta_data.drop('genres',axis=1).join(s)

In [52]:
gen_meta_data.head(2)

,adult,belongs_to_collection,budget,homepage,id,imdb_id,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,year,genre
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.9469,...,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,1995,Animation
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.9469,...,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,1995,Comedy

In [53]:
meta_data.head(1)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,year
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[Animation, Comedy, Family]",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,1995

### x['vote_count'] / (x['vote_count']+m) * x['vote_average']) + (m/(m+x['vote_count']) * C)

In [26]:

def build_chart(gen_md, genre, percentile=0.85):
    df = gen_md[gen_md['genre'] == genre]
    vote_counts = df[df['vote_count'].notnull()]['vote_count'].astype('int')
    vote_averages = df[df['vote_average'].notnull()]['vote_average'].astype('int')
    C = vote_averages.mean()
    m = vote_counts.quantile(percentile)
    
    qualified = df[(df['vote_count'] >= m) & (df['vote_count'].notnull()) & (df['vote_average'].notnull())][['title', 'year', 'vote_count', 'vote_average', 'popularity']]
    qualified['vote_count'] = qualified['vote_count'].astype('int')
    qualified['vote_average'] = qualified['vote_average'].astype('int')
    
    qualified['wr'] = qualified.apply(lambda x: (x['vote_count']/(x['vote_count']+m) * x['vote_average']) + (m/(m+x['vote_count']) * C), axis=1)
    qualified = qualified.sort_values('wr', ascending=False).head(250)
    
    return qualified

In [73]:
meta_data.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count', 'year'],
      dtype='object')

In [27]:
gen_meta_data[gen_meta_data['genre'] == 'Animation']

,adult,belongs_to_collection,budget,homepage,id,imdb_id,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,year,genre
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.9469,...,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,1995,Animation
12,False,"{'id': 117693, 'name': 'Balto Collection', 'po...",0,NaN,21032,tt0112453,en,Balto,An outcast half-wolf risks his life to prevent...,12.1407,...,78.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Part Dog. Part Wolf. All Hero.,Balto,False,7.1,423.0,1995,Animation
47,False,"{'id': 136214, 'name': 'Pocahontas Collection'...",55000000,NaN,10530,tt0114148,en,Pocahontas,History comes gloriously to life in Disney's e...,13.2801,...,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,An American legend comes to life.,Pocahontas,False,6.7,1509.0,1995,Animation
235,False,"{'id': 410261, 'name': 'A Goofy Movie Collecti...",0,NaN,15789,tt0113198,en,A Goofy Movie,"Though Goofy always means well, his amiable cl...",10.178,...,78.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It's the story of a father who couldn't be clo...,A Goofy Movie,False,6.7,404.0,1995,Animation
240,False,NaN,0,NaN,43475,tt0113234,en,Gumby: The Movie,The band is back together! Gumby reunites with...,0.090452,...,77.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The original green hero!,Gumby: The Movie,False,5.0,2.0,1995,Animation
309,False,"{'id': 144200, 'name': 'Swan Princess Series',...",35000000,http://www.sonypictures.com/movies/theswanprin...,22586,tt0111333,en,The Swan Princess,The beautiful princess Odette is transformed i...,8.91046,...,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,An enchanting classic destined to capture your...,The Swan Princess,False,6.5,251.0,1994,Animation
359,False,"{'id': 94032, 'name': 'The Lion King Collectio...",45000000,http://movies.disney.com/the-lion-king,8587,tt0110357,en,The Lion King,A young lion cub named Simba can't wait to be ...,21.6058,...,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Life's greatest adventure is finding your plac...,The Lion King,False,8.0,5520.0,1994,Animation
387,False,NaN,0,NaN,18242,tt0108069,en,The Secret Adventures of Tom Thumb,A boy born the size of a small doll is kidnapp...,0.381704,...,61.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A nursery crime of epic proportions...,The Secret Adventures of Tom Thumb,False,7.1,8.0,1993,Animation
546,False,NaN,18000000,NaN,9479,tt0107688,en,The Nightmare Before Christmas,Tired of scaring humans every October 31 with ...,17.7309,...,76.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A ghoulish tale with wicked humor & stunning a...,The Nightmare Before Christmas,False,7.6,2135.0,1993,Animation
552,False,NaN,27000000,NaN,15139,tt0110763,en,The Pagemaster,"Tyler knows a lot about accidents. So much so,...",7.436,...,80.0,"[{'iso_639_1': 'da', 'name': 'Dansk'}, {'iso_6...",Released,All The Adventure Your Imagination Can Hold.,The Pagemaster,False,6.2,178.0,1994,Animation
581,False,"{'id': 86027, 'name': 'Aladdin Collection', 'p...",28000000,http://movies.disney.com/aladdin,812,tt0103639,en,Aladdin,Princess Jasmine grows tired of being forced t...,16.3574,...,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Wish granted!,Aladdin,False,7.4,3495.0,1992,Animation
587,False,NaN,1488423,http://movies.disney.com/snow-white-and-the-se...,408,tt0029583,en,Snow White and the Seven Dwarfs,"A beautiful girl, Snow White, takes refuge in ...",16.2639,...,83.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"The Happiest, Dopiest, Grumpiest, Sneeziest mo...",Snow White and the Seven Dwarfs,False,6.9,1973.0,1937,Animation
588,False,"{'id': 153010, 'name': 'Beauty and the Beast C...",25000000,http://disney.go.com/disneyvideos/animatedfilm...,10020,tt0101414,en,Beauty and the Beast,"Follow the adventures of Belle, a bright young...",23.4335,...,84.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,The most beautiful love story ever told.,Beauty and the Beast,False,7.5,3029.0,1991,Animation
589,False,NaN,2600000,NaN,10895,tt0032910,en,Pinocchio,Lonely toymaker Geppetto has his wishes answer...,14.2023,...,88.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,For anyone who has ever wished upon a star.,Pinocchio,False,6.9,1412.0,1940,Animation
602,False,"{'id': 141086, 'name': 'Heavy Metal Collection...",9300000,NaN,11827,tt0082509,en,Heavy Metal,A glowing orb terrorizes a young girl with a c...,7.64007,...,90.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Step Beyond Science Fiction,Heavy Metal,False,6.3,150.0,1981,Animation
608,False,NaN,4000000,NaN,10112,tt0065421,en,The Aristocats,When Madame Adelaide Bonfamille leaves her for...,9.83405,...,78.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A tune-filled animated extravaganza.,The Aristocats,False,7.1,1287.0,1970,Animation
622,False,"{'id': 140910, 'name': 'All Dogs Go to Heaven ...",0,NaN,19042,tt0115509,en,All Dogs Go to Heaven 2,Charlie and Itchy return to Earth to find Gabr...,5.0289,...,82.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Heaven help us! Look who's back in the adventu...,All Dogs Go to Heaven 2,False,5.0,50.0,1996,Animation
651,False,NaN,38000000,http://movies.disney.com/james-and-the-giant-p...,10539,tt0116683,en,James and the Giant Peach,When the young orphan boy James spills a magic...,13.2176,...,79.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Adventures this big don't grow on trees.,James and the Giant Peach,False,6.2,375.0,1996,Animation
662,False,NaN,80000000,http://www.warnerbros.com/archive/spacejam/mov...,2300,tt0117705,en,Space Jam,In a desperate attempt to win a basketball mat...,11.0543,...,88.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Get ready to jam.,Space Jam,False,6.5,1335.0,1996,Animation
695,False,NaN,31000000,NaN,12233,tt0095776,en,Oliver & Company,This animated take on Oliver Twist re-imagines...,10.8136,...,74.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The first Disney movie with attitude.,Oliver & Company,False,6.5,372.0,1988,Animation
713,False,NaN,0,NaN,40651,tt0113429,en,"Institute Benjamenta, or This Dream People Cal...",Jakob arrives at the Institute Benjamenta (run...,0.543042,...,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,"Institute Benjamenta, or This Dream People Cal...",False,7.7,11.0,1995,Animation
723,False,"{'id': 23026, 'name': 'Ghost in the Shell Coll...",0,NaN,9323,tt0113568,ja,GHOST IN THE SHELL,"In the year 2029, the barriers of our world ha...",10.6862,...,83.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,It found a voice... Now it needs a body.,Ghost in the Shell,False,7.8,854.0,1995,Animation
727,False,"{'id': 529, 'name': 'Wallace & Gromit Collecti...",0,http://www.wallaceandgromit.com/films/a-close-...,532,tt0112691,en,A Close Shave,Wallace falls in love with wool-shop owner Wen...,6.79686,...,30.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,From the Oscar-winning creator of A Grand Day ...,A Close Shave,False,7.5,223.0,1995,Animation
763,False,"{'id': 97456, 'name': 'The Hunchback of Notre ...",100000000,NaN,10545,tt0116583,en,The Hunchback of Notre Dame,When Quasi defies the evil Frollo and ventures...,13.554,...,91.0,"[{'iso_639_1': 'la', 'name': 'Latin'}, {'iso_6...",Released,NaN,The Hunchback of Notre Dame,False,6.8,1182.0,1996,Animation
804,False,NaN,0,NaN,18975,tt0115472,en,The Adventures of Pinocchio,One of puppet-maker Geppetto's creations comes...,7.52353,...,90.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A new angle on the classic tale... And that's ...,The Adventures of Pinocchio,False,5.0,55.0,1996,Animation
861,False,"{'id': 19163, 'name': 'The Land Before Time Co...",0,NaN,19004,tt0113596,en,The Land Before Time III: The Time of the Grea...,Littlefoot and his friends are constantly bein...,6.37244,...,71.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,The Land Before Time III: The Time of the Grea...,False,6.1,86.0,1995,Animation
993,False,"{'id': 55419, 'name': 'Cinderella Collection',...",2900000,http://movies.disney.com/cinderella-1950,11224,tt0042332,en,Cinderella,Cinderella has faith her dreams of a better li...,14.4369,...,74.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The greatest love story ever told.,Cinderella,False,6.8,1760.0,1950,Animation
994,False,NaN,0,NaN,81310,tt0063819,en,Winnie the Pooh and the Blustery Day,Winnie the Pooh and his friends experience hig...,1.05481,...,25.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Winnie the Pooh and the Blustery Day,False,7.8,20.0,1968,Animation
995,False,"{'id': 271668, 'name': 'Caballeros Collection'...",0,http://movies.disney.com/the-three-caballeros,15947,tt0038166,en,The Three Caballeros,For Donald's birthday he receives a box with t...,8.70247,...,71.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,The Three Caballeros,False,6.2,108.0,1944,Animation
996,False,NaN,3000000,NaN,9078,tt0057546,en,The Sword in the Stone,Wart is a young boy who aspires to be a knight...,10.6365,...,79.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Tired of living in a Medieval mess...Merlin us...,The Sword in the Stone,False,6.9,935.0,1963,Animation
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45100,False,NaN,0,NaN,196649,tt0487132,ru,"В синем море, в белой пене...",Musical fantasy based on Armenian fairy tales.,1.163353,...,8.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,"In the blue sea, in the white foam.",False,6.5,2.0,1984,Animation
45102,False,NaN,0,NaN,91673,tt0882997,ru,Волк и телёнок,NaN,0.085553,...,10.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,Wolf and Calf,False,4.3,3.0,1984,Animation
45105,False,NaN,0,NaN,273202,tt1074985,ru,Мама для мамонтёнка,Baby Mammoth is looking for his Mom.,0.67668,...,8.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,Mother For Baby Mammoth,False,5.8,6.0,1981,Animation
45107,False,NaN,0,NaN,21044,tt1338677,en,Surviving Sid,"Sid, the sloth, takes a school of children out...",6.855234,...,7.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Surviving Sid,False,6.2,23.0,2008,Animation
45116,False,NaN,0,NaN,10840,tt0114038,ja,On Your Mark ジブリ実験剧场,This animated short by Miyazaki was created as...,1.674261,...,7.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,On Your Mark,False,7.3,28.0,1995,Animation
45117,False,NaN,0,NaN,72199,tt1070753,ru,Бобик в гостях у Барбоса,"Two dogs, one stray the other well-off, become...",0.050841,...,9.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,Bobik Visiting Barbos,False,6.7,6.0,1977,Animation
45118,False,NaN,0,NaN,130627,tt2095646,en,Get Out,A doctor unrelentingly tries to convince a pho...,0.147059,...,7.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,NaN,Get Out,False,4.5,4.0,2010,Animation
45119,False,NaN,0,NaN,79216,tt0189195,ru,Волшебное кольцо,"Soviet cartoon, created in 1979 by the directo...",0.050018,...,20.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,The Magic Ring,False,8.5,4.0,1979,Animation
45126,False,NaN,0,NaN,86118,tt1279499,en,This Way Up,A.T Shank &amp; Son have a bad day at the parl...,0.670487,...,9.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,This Way Up,False,7.7,9.0,2008,Animation
45135,False,NaN,10000,NaN,326029,tt0756639,en,Delivery,An old man lives a lonely life under the dark ...,0.003043,...,9.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Delivery,False,0.0,0.0,2005,Animation
45136,False,"{'id': 86066, 'name': 'Despicable Me Collectio...",0,NaN,54551,tt1814643,en,Banana,The Minions fight over a delicious banana.. bu...,5.958505,...,4.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Banana,False,7.2,139.0,2010,Animation
45139,False,NaN,50000000,http://www.theemoji-movie.com/,378236,tt4877122,en,The Emoji Movie,"Gene, a multi-expressional emoji, sets out on ...",33.694599,...,86.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Not easy being meh,The Emoji Movie,False,5.8,327.0,2017,Animation
45142,False,NaN,0,NaN,197210,tt0820136,en,Полигон,A Russian scientist creates a mind-reading wea...,0.742592,...,10.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,Polygon,False,7.0,6.0,1977,Animation
45156,False,NaN,0,http://www.embrace-the-weird.com/Enchiridion-M...,366071,tt2279314,en,Enchiridion,A priest is recruited by federal marshals to h...,0.016824,...,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Embrace the weird...,Enchiridion,False,0.0,0.0,2012,Animation
45172,False,NaN,0,https://vimeo.com/18603661,351423,tt1557200,en,Dock Ellis & The LSD No-No,"In 2008, a year before the great Dock Ellis di...",0.094422,...,5.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Dock Ellis & The LSD No-No,False,9.0,1.0,2010,Animation
45175,False,NaN,0,NaN,389627,tt5574372,en,Nerdland,"Samuel Goldwyn Films, Titmouse, and Fathom Eve...",2.609411,...,83.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Nerdland,False,5.8,11.0,2016,Animation
45192,False,NaN,0,NaN,421126,tt5954304,uk,Микита Кожум'яка,"Little Nicky, the son of the Tanner, a famous ...",1.694007,...,85.0,"[{'iso_639_1': 'uk', 'name': 'Український'}]",Released,NaN,The Dragon Spell,False,4.0,1.0,2017,Animation
45199,False,NaN,0,NaN,279687,tt1253575,en,Futurama: The Lost Adventure,"The cut-scenes from Futurama (2003) (VG), edit...",0.988667,...,30.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Futurama: The Lost Adventure,True,7.9,10.0,2008,Animation
45238,False,NaN,0,NaN,423453,tt4466894,fr,Sahara,Two clans of snakes cohabit in the desert. Bea...,8.665106,...,86.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Sahara,False,5.4,43.0,2017,Animation
45254,False,NaN,0,NaN,54559,tt1830748,en,Minions: Orientation Day,"With so many jobs to choose from, the Minions ...",4.662093,...,4.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Minions: Orientation Day,False,7.0,95.0,2010,Animation
45270,False,NaN,0,https://www.pixar.com/lou,433471,tt6267732,en,Lou,A Pixar short about a lost-and-found box and t...,1.770297,...,6.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Lou,False,8.5,17.0,2017,Animation
45272,False,NaN,0,NaN,89606,tt0156602,en,Hemo The Magnificent,No overview found.,0.054726,...,60.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Hemo The Magnificent,False,7.0,1.0,1957,Animation
45309,False,NaN,0,NaN,291224,tt1814743,pl,Jak dziala jamniczek,Polish animated short film that uses unconvent...,0.003921,...,8.0,"[{'iso_639_1': 'pl', 'name': 'Polski'}]",Released,NaN,How A Sausage Dog Works,False,7.0,3.0,1971,Animation
45312,False,NaN,0,NaN,38876,tt1487280,en,"Włatcy móch. Ćmoki, Czopki i Mondzioły",Klasa II B jako zadanie domowe otrzymuje do na...,0.008064,...,0.0,"[{'iso_639_1': 'pl', 'name': 'Polski'}]",Released,NaN,"Włatcy móch. Ćmoki, Czopki i Mondzioły",False,0.0,0.0,2009,Animation
45344,False,NaN,0,NaN,90063,tt0090249,es,¡Vampiros en La Habana!,"Scientists Werner Amadeus, son of Count Dracul...",0.035007,...,80.0,"[{'iso_639_1': 'es', 'name': 'Español'}]",Released,Not since FRITZ THE CAT has there been such a ...,Vampires in Havana,False,5.3,10.0,1985,Animation
45371,False,"{'id': 477208, 'name': 'DC Super Hero Girls Co...",0,NaN,460135,tt7158814,en,LEGO DC Super Hero Girls: Brain Drain,"When Supergirl, Wonder Woman, Batgirl, Bumbleb...",8.413734,...,0.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,LEGO DC Super Hero Girls: Brain Drain,False,10.0,2.0,2017,Animation
45386,False,NaN,0,NaN,175457,tt0403386,en,Opus II,An abstract animation from Walter Ruttmann.,0.177238,...,4.0,[],Released,NaN,Opus II,False,6.7,5.0,1921,Animation
45388,False,NaN,0,NaN,184402,tt0177956,de,Opus IV,An abstract animation by Walter Ruttmann.,0.433345,...,4.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,Opus IV,False,6.9,4.0,1925,Animation
45437,False,NaN,0,NaN,455661,tt6969946,en,In a Heartbeat,A closeted boy runs the risk of being outed by...,20.82178,...,4.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Heart Wants What The Heart Wants,In a Heartbeat,False,8.3,146.0,2017,Animation
45449,False,NaN,0,NaN,14885,tt0457437,en,Pooh's Heffalump Halloween Movie,"It's Halloween in the 100 Acre Wood, and Roo's...",2.568495,...,67.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Celebrate Lumpy's First Halloween.,Pooh's Heffalump Halloween Movie,False,5.4,7.0,2005,Animation

In [28]:
gen_meta_data[gen_meta_data['genre'] == 'Action']

,adult,belongs_to_collection,budget,homepage,id,imdb_id,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,year,genre
5,False,NaN,60000000,NaN,949,tt0113277,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",17.9249,...,170.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0,1995,Action
7,False,NaN,0,NaN,45325,tt0112302,en,Tom and Huck,"A mischievous young boy, Tom Sawyer, witnesses...",2.56116,...,97.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Original Bad Boys.,Tom and Huck,False,5.4,45.0,1995,Action
8,False,NaN,35000000,NaN,9091,tt0114576,en,Sudden Death,International action superstar Jean Claude Van...,5.23158,...,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Terror goes into overtime.,Sudden Death,False,5.5,174.0,1995,Action
9,False,"{'id': 645, 'name': 'James Bond Collection', '...",58000000,http://www.mgm.com/view/movie/757/Goldeneye/,710,tt0113189,en,GoldenEye,James Bond must unmask the mysterious head of ...,14.686,...,130.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,No limits. No fears. No substitutes.,GoldenEye,False,6.6,1194.0,1995,Action
14,False,NaN,98000000,NaN,1408,tt0112760,en,Cutthroat Island,"Morgan Adams and her slave, William Shaw, are ...",7.28448,...,119.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Course Has Been Set. There Is No Turning B...,Cutthroat Island,False,5.7,137.0,1995,Action
19,False,NaN,60000000,NaN,11517,tt0113845,en,Money Train,A vengeful New York transit cop decides to ste...,7.33791,...,103.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Get on, or GET OUT THE WAY!",Money Train,False,5.4,224.0,1995,Action
22,False,NaN,50000000,NaN,9691,tt0112401,en,Assassins,Assassin Robert Rath arrives at a funeral to k...,11.0659,...,132.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,"In the shadows of life, In the business of dea...",Assassins,False,6.0,394.0,1995,Action
41,False,NaN,10000000,NaN,11443,tt0112819,en,Dead Presidents,"Depicts a heist of old bills, retired from cir...",9.87957,...,119.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"In this daring heist, the only color that coun...",Dead Presidents,False,6.6,80.0,1995,Action
43,False,"{'id': 9818, 'name': 'Mortal Kombat Collection...",18000000,NaN,9312,tt0113855,en,Mortal Kombat,For nine generations an evil sorcerer has been...,10.8701,...,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Nothing In This World Has Prepared You For This.,Mortal Kombat,False,5.4,452.0,1995,Action
50,False,NaN,0,NaN,117164,tt0109950,en,Guardian Angel,Detective - turned - bodyguard Cynthia McKay (...,0.595949,...,93.0,[],Released,She's no angel of mercy.,Guardian Angel,False,6.3,3.0,1994,Action
53,False,NaN,0,NaN,26441,tt0112499,en,The Big Green,"In a depressed Texas town, British foreign exc...",5.98276,...,100.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The biggest kick of the year!,The Big Green,False,5.2,41.0,1995,Action
65,False,"{'id': 124935, 'name': 'The Lawnmower Man Coll...",0,NaN,11525,tt0116839,en,Lawnmower Man 2: Beyond Cyberspace,Jobe is resuscitated by Jonathan Walker. He wa...,2.49535,...,92.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,God made him simple. Science made him a god. N...,Lawnmower Man 2: Beyond Cyberspace,False,2.8,32.0,1996,Action
69,False,"{'id': 10924, 'name': 'From Dusk Till Dawn Col...",19000000,http://www.miramax.com/movie/from-dusk-till-dawn/,755,tt0116367,en,From Dusk Till Dawn,Seth Gecko and his younger brother Richard are...,15.3392,...,108.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,One night is all that stands between them and ...,From Dusk Till Dawn,False,6.9,1644.0,1996,Action
70,False,NaN,50000000,NaN,11859,tt0113010,en,Fair Game,Max Kirkpatrick is a cop who protects Kate McQ...,5.91222,...,91.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,He's a cop on the edge. She's a woman with a d...,Fair Game,False,4.1,54.0,1995,Action
85,False,NaN,38000000,NaN,10534,tt0118158,en,White Squall,Teenage boys discover discipline and camarader...,9.5686,...,129.0,"[{'iso_639_1': 'da', 'name': 'Dansk'}, {'iso_6...",Released,NaN,White Squall,False,6.3,86.0,1996,Action
93,False,NaN,50000000,NaN,9208,tt0115759,en,Broken Arrow,When rogue stealth-fighter pilot Vic Deakins d...,14.9576,...,108.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Prepare to Go Ballistic.,Broken Arrow,False,5.7,459.0,1996,Action
96,False,NaN,0,NaN,45549,tt0111173,en,Shopping,"A dark, hip, urban story of a barren and anony...",2.65765,...,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,No one leaves without paying...,Shopping,False,5.6,13.0,1994,Action
105,False,"{'id': 256377, 'name': 'The Muppet Collection'...",0,NaN,10874,tt0117110,en,Muppet Treasure Island,After telling the story of Flint's last journe...,6.90242,...,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Set sail for Muppet mayhem!,Muppet Treasure Island,False,6.5,93.0,1996,Action
108,False,NaN,72000000,NaN,197,tt0112573,en,Braveheart,"Enraged at the slaughter of Murron, his new br...",20.7551,...,177.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Every man dies. Not every man truly lives.,Braveheart,False,7.7,3404.0,1995,Action
110,False,NaN,7500000,NaN,33542,tt0113326,cn,紅番區,Keong comes from Hong Kong to visit New York f...,12.3143,...,91.0,"[{'iso_639_1': 'cn', 'name': '广州话 / 廣州話'}, {'i...",Released,No Fear. No Stuntman. No Equal.,Rumble in the Bronx,False,6.5,245.0,1995,Action
118,False,NaN,0,NaN,55731,tt0117427,en,Race the Sun,"A bunch of high school misfits in Hawaii, intr...",1.31788,...,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A dream can make all the difference under the ...,Race the Sun,False,5.2,21.0,1996,Action
130,False,NaN,50000000,NaN,11863,tt0113451,en,Jade,Someone does a nasty hatchet job on a San Fran...,11.4189,...,95.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Some fantasies go too far.,Jade,False,5.1,45.0,1995,Action
142,False,"{'id': 14890, 'name': 'Bad Boys Collection', '...",19000000,NaN,9737,tt0112442,en,Bad Boys,Marcus Burnett is a hen-pecked family man. Mik...,9.26218,...,118.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Whatcha gonna do?,Bad Boys,False,6.5,1729.0,1995,Action
143,False,NaN,0,NaN,30765,tt0112342,en,The Amazing Panda Adventure,Far from home in the lush bamboo forests of Ch...,2.37587,...,81.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}]",Released,"In the sweeping highlands of China, a boy begi...",The Amazing Panda Adventure,False,5.0,31.0,1995,Action
150,False,"{'id': 120794, 'name': 'Batman Collection', 'p...",100000000,NaN,414,tt0112462,en,Batman Forever,The Dark Knight of Gotham City confronts a das...,13.3214,...,121.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Courage now, truth always...",Batman Forever,False,5.2,1529.0,1995,Action
154,False,NaN,11000000,NaN,1775,tt0109370,en,Canadian Bacon,Canadian Bacon is the only fictitious film fro...,5.39156,...,91.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"I'll tell ya another thing, their beer sucks!",Canadian Bacon,False,5.9,57.0,1995,Action
157,False,NaN,50000000,NaN,10329,tt0112715,en,Congo,Eight people embark on an expedition into the ...,7.26057,...,109.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Where you are the endangered species.,Congo,False,5.0,214.0,1995,Action
158,False,NaN,53000000,NaN,8963,tt0112740,en,Crimson Tide,"On a US nuclear missile sub, a young first off...",8.65736,...,116.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Danger runs deep.,Crimson Tide,False,7.0,508.0,1995,Action
160,False,"{'id': 9649, 'name': 'Mexico Trilogy', 'poster...",7000000,NaN,8068,tt0112851,en,Desperado,A gunslinger is embroiled in a war with a loca...,6.95046,...,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"When the smoke clears, it just means he's relo...",Desperado,False,6.8,898.0,1995,Action
162,False,"{'id': 1570, 'name': 'Die Hard Collection', 'p...",90000000,NaN,1572,tt0112864,en,Die Hard: With a Vengeance,New York detective John McClane is back and ki...,15.1389,...,128.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Think fast. Look alive. Die hard.,Die Hard: With a Vengeance,False,6.9,2094.0,1995,Action
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45167,False,NaN,11000000,NaN,395834,tt5362988,en,Wind River,An FBI agent teams with the town's veteran gam...,40.796775,...,111.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Nothing is harder to track than the truth.,Wind River,False,7.4,181.0,2017,Action
45176,False,NaN,0,NaN,179848,tt0485270,en,Ratchagan,Ajay (Nagarjuna) is an unemployed youth who al...,0.005866,...,0.0,[],Released,NaN,Ratchagan,False,0.0,0.0,1997,Action
45184,False,"{'id': 221111, 'name': 'S.W.A.T. Collection', ...",0,NaN,461053,tt6014472,en,S.W.A.T.: Under Siege,When a D.E.A. and S.W.A.T. cartel takedown end...,20.38691,...,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,S.W.A.T.: Under Siege,False,5.2,21.0,2017,Action
45191,False,NaN,0,NaN,429524,tt5239972,en,Drone Wars,"When drones arrive in a flash, slaughtering hu...",1.451207,...,0.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Drone Wars,False,3.0,7.0,2016,Action
45198,False,NaN,0,NaN,412669,tt5193408,en,First Round Down,Tim Tucker (Dylan Bruce) was a star forward wh...,0.422836,...,0.0,[],Released,NaN,First Round Down,False,10.0,1.0,2017,Action
45219,False,NaN,0,NaN,101190,tt0057089,pl,Gangsterzy i filantropi,The movie consists of two satirical novel base...,0.123891,...,82.0,"[{'iso_639_1': 'pl', 'name': 'Polski'}]",Released,NaN,Gangsters and Philantropists,False,4.3,2.0,1963,Action
45247,False,NaN,0,NaN,66247,tt0140399,ta,Muthu,Muthu starring by rajinikanth and meena. A lav...,0.252468,...,180.0,"[{'iso_639_1': 'ml', 'name': ''}, {'iso_639_1'...",Released,NaN,Muthu,False,6.3,10.0,1995,Action
45248,False,NaN,0,NaN,49074,tt0139876,ta,Baasha,Auto rickshaw driver Manickam avoids violence ...,0.704162,...,145.0,"[{'iso_639_1': 'ta', 'name': 'தமிழ்'}]",Released,NaN,Baasha,False,7.8,14.0,1995,Action
45250,False,NaN,12000000,NaN,24049,tt0479751,ta,சிவாஜி,Corrupt police and politicians target a comput...,1.323587,...,185.0,"[{'iso_639_1': 'ta', 'name': 'தமிழ்'}, {'iso_6...",Released,NaN,Sivaji: The Boss,False,6.9,25.0,2007,Action
45252,False,NaN,0,NaN,410554,tt5884234,en,First Kill,A police chief tries to solve a kidnapping tha...,7.874102,...,97.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"When you only have one shot, don't miss.",First Kill,False,5.2,38.0,2017,Action
45258,False,"{'id': 466463, 'name': 'Descendants Collection...",0,NaN,417320,tt5117876,en,Descendants 2,When the pressure to be royal becomes too much...,15.842073,...,111.0,"[{'iso_639_1': 'da', 'name': 'Dansk'}]",Released,Long live evil.,Descendants 2,False,7.5,171.0,2017,Action
45271,False,NaN,0,NaN,69727,tt0126301,en,Final Justice,A cop relies on a young car thief to take down...,0.350875,...,95.0,"[{'iso_639_1': 'cn', 'name': '广州话 / 廣州話'}, {'i...",Released,NaN,Final Justice,False,4.4,4.0,1988,Action
45300,False,NaN,0,NaN,58133,tt0926764,fr,La Possibilité d'une île,La Possibilité d'une île is a 2008 film direct...,0.402427,...,95.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,NaN,Possibility of an Island,False,4.8,3.0,2008,Action
45344,False,NaN,0,NaN,90063,tt0090249,es,¡Vampiros en La Habana!,"Scientists Werner Amadeus, son of Count Dracul...",0.035007,...,80.0,"[{'iso_639_1': 'es', 'name': 'Español'}]",Released,Not since FRITZ THE CAT has there been such a ...,Vampires in Havana,False,5.3,10.0,1985,Action
45348,False,NaN,0,NaN,44918,tt1640571,en,Titanic II,On the 100th anniversary of the original voyag...,4.359886,...,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"100 years later, lightning strikes twice",Titanic 2,False,3.4,55.0,2010,Action
45354,False,NaN,0,NaN,20776,tt0321359,en,Return to the Batcave: The Misadventures of Ad...,Adam West and Burt Ward are taken on a crazy a...,1.348822,...,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Holy reunion, Batman!",Return to the Batcave: The Misadventures of Ad...,False,5.8,14.0,2003,Action
45356,False,NaN,0,NaN,43085,tt0770739,en,Dead and Deader,Lt. Bobby Quinn is a Special Forces commando k...,5.015147,...,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Dead and Deader,False,5.8,10.0,2006,Action
45363,False,NaN,5,NaN,71016,tt0086189,en,The Return of Captain Invincible,"In WWII, Captain Invincible used his superpowe...",0.836124,...,96.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,What the world needs now is a shining hero!,The Return of Captain Invincible,False,6.0,7.0,1983,Action
45372,False,NaN,0,NaN,42247,tt0478737,en,Treasure Raiders,"Michael, an American professor teaching histor...",0.23908,...,95.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Speed is part of the game...,Treasure Raiders,False,2.2,3.0,2007,Action
45382,False,"{'id': 200641, 'name': 'Red Lotus Collection',...",0,NaN,182030,tt0059292,zh,火燒紅蓮寺之鴛鴦劍俠,Kwei Wu happens upon a kidnapping with his wif...,0.674934,...,88.0,"[{'iso_639_1': 'zh', 'name': '普通话'}]",Released,NaN,The Twin Swords,False,5.6,4.0,1965,Action
45383,False,NaN,0,NaN,32388,tt0063105,zh,金燕子,Golden Swallow revolves around the further adv...,1.390381,...,89.0,"[{'iso_639_1': 'zh', 'name': '普通话'}]",Released,NaN,Golden Swallow,False,6.5,10.0,1968,Action
45404,False,NaN,0,NaN,102363,tt2117825,ru,Beduin,Rita's daughter is sick with leukemia. In orde...,1.015759,...,90.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,Bedouin,False,4.0,5.0,2011,Action
45411,False,NaN,0,NaN,61966,tt1186656,en,Kacheli,The life of a characters of this movie can be ...,0.516834,...,84.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,Swing,False,4.0,2.0,2008,Action
45417,False,NaN,0,NaN,461297,tt6212210,en,Cop and a Half: New Recruit,In this family-friendly action reboot of the 1...,1.248353,...,97.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,One Kid's Fantasy. One Cop's Nightmare.,Cop and a Half: New Recruit,False,6.0,1.0,2017,Action
45422,False,NaN,5000000,NaN,63898,tt1110037,ru,Антидурь,Failing to complete an important assignment wi...,0.039793,...,91.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,Antidur,False,1.0,1.0,2007,Action
45428,False,NaN,0,NaN,45029,tt0106922,en,Fit to Kill,Buxom do-gooders Donna and Nicole set out to r...,1.092445,...,97.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,They're sexy. They're fearless. They're... Fit...,Fit to Kill,False,5.0,7.0,1993,Action
45436,False,NaN,0,NaN,45527,tt1331329,en,The Final Storm,A stranger named Silas flees from a devastatin...,1.270832,...,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Action, Horror",The Final Storm,False,3.7,11.0,2010,Action
45450,False,NaN,0,NaN,49280,tt0135453,fr,L'Homme orchestre,A band-leader has arranged seven chairs for th...,1.109068,...,1.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,The One-Man Band,False,6.5,22.0,1900,Action
45460,False,NaN,0,NaN,30840,tt0102797,en,Robin Hood,"Yet another version of the classic epic, with ...",5.683753,...,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Robin Hood,False,5.7,26.0,1991,Action
45463,False,NaN,0,NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",0.903007,...,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0,2003,Action

In [29]:
build_chart(gen_meta_data,'Romance').head(10)

,title,year,vote_count,vote_average,popularity,wr
10309,Dilwale Dulhania Le Jayenge,1995,661,9,34.457,8.565285
351,Forrest Gump,1994,8147,8,48.3072,7.971357
876,Vertigo,1958,1162,8,18.2082,7.811667
40251,Your Name.,2016,1030,8,34.461252,7.789489
883,Some Like It Hot,1959,835,8,11.8451,7.745154
1132,Cinema Paradiso,1988,834,8,14.177,7.744878
19901,Paperman,2012,734,8,7.19863,7.713951
37863,Sing Street,2016,669,8,10.672862,7.689483
882,The Apartment,1960,498,8,11.9943,7.599317
38718,The Handmaiden,2016,453,8,16.727405,7.566166

In [30]:
build_chart(gen_meta_data,'Adventure').head(10)

,title,year,vote_count,vote_average,popularity,wr
15480,Inception,2010,14075,8,29.1081,7.906526
22879,Interstellar,2014,11187,8,32.2135,7.883426
4863,The Lord of the Rings: The Fellowship of the Ring,2001,8892,8,32.0707,7.854939
7000,The Lord of the Rings: The Return of the King,2003,8226,8,29.3244,7.843867
5814,The Lord of the Rings: The Two Towers,2002,7641,8,29.4235,7.832647
256,Star Wars,1977,6778,8,42.1497,7.812801
1225,Back to the Future,1985,6239,8,25.7785,7.797828
1154,The Empire Strikes Back,1980,5998,8,19.471,7.790329
5481,Spirited Away,2001,3968,8,41.0489,7.695056
9698,Howl's Moving Castle,2004,2049,8,16.136,7.465435

In [80]:
# build_chart('Romance').head(15)

## Content Based

In [82]:
meta_data.shape

(45466, 25)

## i guess there are three NaN rows(mostly), so remove it

In [31]:
meta_data.iloc[[19730,29503,35587,35587+1,-10]]

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,year
19730,- Written by Ørnås,0.065736,/ff9qCepilowshEtG2GYWwzt2bs4.jpg,"[Carousel Productions, Vision View Entertainme...","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",1997-08-20,0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
29503,Rune Balot goes to a casino connected to the ...,1.931659,/zV8bHuSL6WXoD6FWogP9j4x80bL.jpg,"[Aniplex, GoHands, BROSTA TV, Mardock Scramble...","[{'iso_3166_1': 'US', 'name': 'United States o...",2012-09-29,0,68.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
35587,Avalanche Sharks tells the story of a bikini ...,2.185485,/zaSf5OG7V8X8gqFvly88zDdRm46.jpg,"[Odyssey Media, Pulser Productions, Rogue Stat...","[{'iso_3166_1': 'CA', 'name': 'Canada'}]",2014-01-01,0,82.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
35588,False,NaN,0,"[War, Drama]",NaN,151911,tt0029924,en,Blockade,A simple peasant is forced to take up arms to ...,...,0.0,85.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Romance under Fire!,Blockade,False,0.0,0.0,1938
45456,False,NaN,0,"[Horror, Mystery, Thriller]",NaN,84419,tt0038621,en,House of Horrors,An unsuccessful sculptor saves a madman named ...,...,0.0,65.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Meet...The CREEPER!,House of Horrors,False,6.3,8.0,1946

In [33]:
os.listdir('data/movies_dataset')

['keywords.csv',
 'movies_metadata.csv',
 'ratings.csv',
 'links.csv',
 'credits.csv',
 'links_small.csv',
 'ratings_small.csv']

In [41]:
import gc
del links_small
gc.collect()

146

In [45]:

links_small = pd.read_csv('data/movies_dataset/links_small.csv')
links_small.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [35]:
meta_data2 = meta_data.copy()
meta_data2.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,year
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[Animation, Comedy, Family]",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,1995
1,False,NaN,65000000,"[Adventure, Fantasy, Family]",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,1995
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[Romance, Comedy]",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,1995
3,False,NaN,16000000,"[Comedy, Drama, Romance]",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,1995
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,[Comedy],NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,1995

In [36]:
meta_data.shape, meta_data2.shape

((45466, 25), (45466, 25))

In [37]:
gen_meta_data.to_csv('gen_meta_data_first_model.csv')

In [49]:
links_small[links_small['tmdbId'].notnull()]['tmdbId'].astype('int')[:10]

0      862
1     8844
2    15602
3    31357
4    11862
5      949
6    11860
7    45325
8     9091
9      710
Name: tmdbId, dtype: int64

In [51]:
links_small.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [52]:
links_small = links_small[links_small['tmdbId'].notnull()]['tmdbId'].astype('int')

In [53]:
meta_data2 = meta_data2.drop([19730, 29503, 35587])

In [55]:
meta_data2['id'] = meta_data2['id'].astype('int')
small_meta_data = meta_data2[meta_data2['id'].isin(links_small)]
small_meta_data.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,year
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[Animation, Comedy, Family]",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,1995
1,False,NaN,65000000,"[Adventure, Fantasy, Family]",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,1995
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[Romance, Comedy]",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,1995
3,False,NaN,16000000,"[Comedy, Drama, Romance]",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,1995
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,[Comedy],NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,1995

In [56]:
meta_data2.shape, small_meta_data.shape

((45463, 25), (9099, 25))

In [60]:
small_meta_data[small_meta_data['genres'] == 'Adventure']

Empty DataFrame
Columns: [adult, belongs_to_collection, budget, genres, homepage, id, imdb_id, original_language, original_title, overview, popularity, poster_path, production_companies, production_countries, release_date, revenue, runtime, spoken_languages, status, tagline, title, video, vote_average, vote_count, year]
Index: []

[0 rows x 25 columns]

In [87]:
small_meta_data['genre'][:5]#.apply(split(','))

0     [Animation, Comedy, Family]
1    [Adventure, Fantasy, Family]
2               [Romance, Comedy]
3        [Comedy, Drama, Romance]
4                        [Comedy]
Name: genre, dtype: object

In [67]:
# gapminder.rename(columns={'pop':'population',
#                           'lifeExp':'life_exp',
#                           'gdpPercap':'gdp_per_cap'}, 
#                  inplace=True)
# df.rename(index=str, columns={"A": "a", "B": "c"})
small_meta_data.rename(columns={'genres':'genre'}, inplace=True)

## Movie Description Based

In [89]:
small_meta_data['tagline'] = small_meta_data['tagline'].fillna('')
small_meta_data['description'] = small_meta_data['overview'] + small_meta_data['tagline']
small_meta_data['description'] = small_meta_data['description'].fillna('')

In [90]:
small_meta_data.head()

,adult,belongs_to_collection,budget,genre,homepage,id,imdb_id,original_language,original_title,overview,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,year,description
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[Animation, Comedy, Family]",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,,Toy Story,False,7.7,5415.0,1995,"Led by Woody, Andy's toys live happily in his ..."
1,False,NaN,65000000,"[Adventure, Fantasy, Family]",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,1995,When siblings Judy and Peter discover an encha...
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[Romance, Comedy]",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,1995,A family wedding reignites the ancient feud be...
3,False,NaN,16000000,"[Comedy, Drama, Romance]",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,1995,"Cheated on, mistreated and stepped on, the wom..."
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,[Comedy],NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,1995,Just when George Banks has recovered from his ...

In [91]:
# ngram_range ==>  to caculate the appropriate the freq of each word
# min_df      ==>  threshold to ignore the range 
# analyzer    ==>  consider words to vectorize (not character wise)
tf = TfidfVectorizer(analyzer='word', ngram_range=(1,2), min_df=0,stop_words='english')
tfidf_matrix = tf.fit_transform(small_meta_data['description'])

In [93]:
small_meta_data['description'][:5]

0    Led by Woody, Andy's toys live happily in his ...
1    When siblings Judy and Peter discover an encha...
2    A family wedding reignites the ancient feud be...
3    Cheated on, mistreated and stepped on, the wom...
4    Just when George Banks has recovered from his ...
Name: description, dtype: object

In [94]:
tfidf_matrix

<9099x268124 sparse matrix of type '<class 'numpy.float64'>'
	with 540591 stored elements in Compressed Sparse Row format>

In [95]:
small_meta_data.shape

(9099, 26)

ince we have used the TF-IDF Vectorizer, calculating the Dot Product will directly give us the Cosine Similarity Score. Therefore, we will use sklearn's linear_kernel instead of cosine_similarities since it is much faster.

In [99]:
# np.dot(tfidf_matrix,tfidf_matrix.T)

<9099x9099 sparse matrix of type '<class 'numpy.float64'>'
	with 28022309 stored elements in Compressed Sparse Row format>

In [100]:
cosine_sim = linear_kernel(tfidf_matrix,tfidf_matrix)

In [101]:
cosine_sim[0]

array([1.        , 0.00680476, 0.        , ..., 0.        , 0.00344913,
       0.        ])

In [102]:
cosine_sim.shape

(9099, 9099)

In [105]:
small_meta_data = small_meta_data.reset_index()
titles = small_meta_data['title']
titles.head()

0                      Toy Story
1                        Jumanji
2               Grumpier Old Men
3              Waiting to Exhale
4    Father of the Bride Part II
Name: title, dtype: object

In [106]:
indices = pd.Series(small_meta_data.index, index=small_meta_data['title'])
indices.head()

title
Toy Story                      0
Jumanji                        1
Grumpier Old Men               2
Waiting to Exhale              3
Father of the Bride Part II    4
dtype: int64

In [114]:
len(list(enumerate(cosine_sim[1]))),list(enumerate(cosine_sim[1]))[:10]

(9099,
 [(0, 0.0068047556717484225),
  (1, 1.000000000000001),
  (2, 0.01531062029116973),
  (3, 0.0),
  (4, 0.0022368099402477037),
  (5, 0.014747265950384274),
  (6, 0.0),
  (7, 0.0),
  (8, 0.0331370513549892),
  (9, 0.0)])

In [116]:
sorted(list(enumerate(cosine_sim[1])), key=lambda x:x[1], reverse=False)[:10]

[(3, 0.0),
 (6, 0.0),
 (7, 0.0),
 (9, 0.0),
 (11, 0.0),
 (12, 0.0),
 (15, 0.0),
 (16, 0.0),
 (18, 0.0),
 (19, 0.0)]

In [235]:
sorted(list(enumerate(cosine_sim[1])), key=lambda x:x[1], reverse=False)[:10]

[(2, 0.0),
 (3, 0.0),
 (4, 0.0),
 (5, 0.0),
 (6, 0.0),
 (10, 0.0),
 (11, 0.0),
 (13, 0.0),
 (15, 0.0),
 (16, 0.0)]

In [117]:
def get_recommendations(title):
    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:31]
    movie_indices = [i[0] for i in sim_scores]
    return titles.iloc[movie_indices]

In [118]:
get_recommendations('The Godfather').head(10)

973      The Godfather: Part II
8387                 The Family
3509                       Made
4196         Johnny Dangerously
29               Shanghai Triad
5667                       Fury
2412             American Movie
1582    The Godfather: Part III
4221                    8 Women
2159              Summer of Sam
Name: title, dtype: object

In [119]:
get_recommendations('The Dark Knight').head(10)

7931                      The Dark Knight Rises
132                              Batman Forever
1113                             Batman Returns
8227    Batman: The Dark Knight Returns, Part 2
7565                 Batman: Under the Red Hood
524                                      Batman
7901                           Batman: Year One
2579               Batman: Mask of the Phantasm
2696                                        JFK
8165    Batman: The Dark Knight Returns, Part 1
Name: title, dtype: object

### Now, we will build a more sophisticated recommender that takes genre, keywords, cast and crew into consideration.

In [122]:
credits = pd.read_csv('data/movies_dataset/credits.csv')
keywords = pd.read_csv('data/movies_dataset/keywords.csv')

keywords['id'] = keywords['id'].astype('int')
credits['id'] = credits['id'].astype('int')

In [125]:
meta_data2.shape

(45463, 25)

In [126]:
meta_data2['id'] = meta_data2['id'].astype('int')
meta_data2.shape

(45463, 25)

In [127]:
meta_data2 = meta_data2.merge(credits, on='id')
meta_data2 = meta_data2.merge(keywords, on='id')

In [128]:
small_meta_data = meta_data2[meta_data2['id'].isin(links_small)]
small_meta_data.shape

(9219, 28)

In [131]:
small_meta_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9219 entries, 0 to 41669
Data columns (total 28 columns):
adult                    9219 non-null object
belongs_to_collection    1688 non-null object
budget                   9219 non-null object
genres                   9219 non-null object
homepage                 2001 non-null object
id                       9219 non-null int64
imdb_id                  9219 non-null object
original_language        9219 non-null object
original_title           9219 non-null object
overview                 9207 non-null object
popularity               9219 non-null object
poster_path              9216 non-null object
production_companies     9219 non-null object
production_countries     9219 non-null object
release_date             9219 non-null object
revenue                  9219 non-null float64
runtime                  9219 non-null float64
spoken_languages         9219 non-null object
status                   9217 non-null object
tagline                  7082 non-null object
title                    9219 non-null object
video                    9219 non-null object
vote_average             9219 non-null float64
vote_count               9219 non-null float64
year                     9219 non-null object
cast                     9219 non-null object
crew                     9219 non-null object
keywords                 9219 non-null object
dtypes: float64(4), int64(1), object(23)
memory usage: 2.0+ MB

### Crew: From the crew, we will only pick the director as our feature since the others don't contribute that much to the feel of the movie.
### Cast: Choosing Cast is a little more tricky. Lesser known actors and minor roles do not really affect people's opinion of a movie. Therefore, we must only select the major characters and their respective actors. Arbitrarily we will choose the top 3 actors that appear in the credits list

In [135]:
small_meta_data['cast'] = small_meta_data['cast'].apply(literal_eval)
small_meta_data['crew'] = small_meta_data['crew'].apply(literal_eval)
small_meta_data['keywords'] = small_meta_data['keywords'].apply(literal_eval)

small_meta_data['cast_size'] = small_meta_data['cast'].apply(lambda x: len(x))
small_meta_data['crew_size'] = small_meta_data['crew'].apply(lambda x: len(x))

In [136]:
def get_director(x):
    for i in x:
        if i['job'] == 'Director':
            return i['name']
    return np.nan

small_meta_data['director'] = small_meta_data['crew'].apply(get_director)

In [138]:
small_meta_data['director'].head()

0      John Lasseter
1       Joe Johnston
2      Howard Deutch
3    Forest Whitaker
4      Charles Shyer
Name: director, dtype: object

In [143]:
small_meta_data['cast'].apply(lambda x: [i['name'] for i in x]).head()

0    [Tom Hanks, Tim Allen, Don Rickles, Jim Varney...
1    [Robin Williams, Jonathan Hyde, Kirsten Dunst,...
2    [Walter Matthau, Jack Lemmon, Ann-Margret, Sop...
3    [Whitney Houston, Angela Bassett, Loretta Devi...
4    [Steve Martin, Diane Keaton, Martin Short, Kim...
Name: cast, dtype: object

In [146]:
small_meta_data['cast'] = small_meta_data['cast'].apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])
small_meta_data['cast'] = small_meta_data['cast'].apply(lambda x: x[:3] if len(x) >=3 else x)

small_meta_data['keywords'] = small_meta_data['keywords'].apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])

In [149]:
small_meta_data['cast'][:5]

0                  [Tom Hanks, Tim Allen, Don Rickles]
1       [Robin Williams, Jonathan Hyde, Kirsten Dunst]
2           [Walter Matthau, Jack Lemmon, Ann-Margret]
3    [Whitney Houston, Angela Bassett, Loretta Devine]
4           [Steve Martin, Diane Keaton, Martin Short]
Name: cast, dtype: object



### These are steps I follow in the preparation of my genres and credits data:

1. Strip Spaces and Convert to Lowercase from all our features. This way, our engine will not confuse between Johnny Depp and Johnny Galecki.
2. Mention Director 3 times to give it more weight relative to the entire cast.

In [150]:
small_meta_data['cast'] = small_meta_data['cast'].apply(lambda x: [str.lower(i.replace(" ", "")) for i in x])

small_meta_data['director'] = small_meta_data['director'].astype('str').apply(lambda x: str.lower(x.replace(" ", "")))
small_meta_data['director'] = small_meta_data['director'].apply(lambda x: [x,x,x])

In [153]:
small_meta_data['director'].head()

0          [johnlasseter, johnlasseter, johnlasseter]
1             [joejohnston, joejohnston, joejohnston]
2          [howarddeutch, howarddeutch, howarddeutch]
3    [forestwhitaker, forestwhitaker, forestwhitaker]
4          [charlesshyer, charlesshyer, charlesshyer]
Name: director, dtype: object

In [154]:
small_meta_data['cast'].head()

0                  [tomhanks, timallen, donrickles]
1       [robinwilliams, jonathanhyde, kirstendunst]
2          [waltermatthau, jacklemmon, ann-margret]
3    [whitneyhouston, angelabassett, lorettadevine]
4           [stevemartin, dianekeaton, martinshort]
Name: cast, dtype: object

In [161]:
small_meta_data['keywords'].head()

0    [jealousy, toy, boy, friendship, friends, riva...
1    [board game, disappearance, based on children'...
2    [fishing, best friend, duringcreditsstinger, o...
3    [based on novel, interracial relationship, sin...
4    [baby, midlife crisis, confidence, aging, daug...
Name: keywords, dtype: object

In [165]:
temp = small_meta_data[:10]

In [166]:
temp.apply(lambda x: pd.Series(x['keywords']),axis=1)

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,jealousy,toy,boy,friendship,friends,rivalry,boy next door,new toy,toy comes to life,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,board game,disappearance,based on children's book,new home,recluse,giant insect,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,fishing,best friend,duringcreditsstinger,old men,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,based on novel,interracial relationship,single mother,divorce,chick flick,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,baby,midlife crisis,confidence,aging,daughter,mother daughter relationship,pregnancy,contraception,gynecologist,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,robbery,detective,bank,obsession,chase,shooting,thief,honor,murder,suspense,...,criminal mastermind,cult film,ex-con,heist movie,one last job,loner,bank job,neo-noir,gun fight,crime epic
6,paris,brother brother relationship,chauffeur,long island,fusion,millionaire,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,terrorist,hostage,explosive,vice president,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,cuba,falsely accused,secret identity,computer virus,secret base,secret intelligence service,kgb,satellite,special car,cossack,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [167]:
temp.apply(lambda x: pd.Series(x['keywords']),axis=1).stack()

0  0                         jealousy
   1                              toy
   2                              boy
   3                       friendship
   4                          friends
   5                          rivalry
   6                    boy next door
   7                          new toy
   8                toy comes to life
1  0                       board game
   1                    disappearance
   2         based on children's book
   3                         new home
   4                          recluse
   5                     giant insect
2  0                          fishing
   1                      best friend
   2             duringcreditsstinger
   3                          old men
3  0                   based on novel
   1         interracial relationship
   2                    single mother
   3                          divorce
   4                      chick flick
4  0                             baby
   1                   midlife crisis
   2                       confidence
   3                            aging
   4                         daughter
   5     mother daughter relationship
                     ...
5  20                           loner
   21                        bank job
   22                        neo-noir
   23                       gun fight
   24                      crime epic
6  0                            paris
   1     brother brother relationship
   2                        chauffeur
   3                      long island
   4                           fusion
   5                      millionaire
8  0                        terrorist
   1                          hostage
   2                        explosive
   3                   vice president
9  0                             cuba
   1                  falsely accused
   2                  secret identity
   3                   computer virus
   4                      secret base
   5      secret intelligence service
   6                              kgb
   7                        satellite
   8                      special car
   9                          cossack
   10           electromagnetic pulse
   11                       time bomb
   12           st. petersburg russia
   13                   ejection seat
   14                        red army
Length: 83, dtype: object

In [168]:
temp.apply(lambda x: pd.Series(x['keywords']),axis=1).stack().reset_index()

    level_0  level_1                             0
0         0        0                      jealousy
1         0        1                           toy
2         0        2                           boy
3         0        3                    friendship
4         0        4                       friends
5         0        5                       rivalry
6         0        6                 boy next door
7         0        7                       new toy
8         0        8             toy comes to life
9         1        0                    board game
10        1        1                 disappearance
11        1        2      based on children's book
12        1        3                      new home
13        1        4                       recluse
14        1        5                  giant insect
15        2        0                       fishing
16        2        1                   best friend
17        2        2          duringcreditsstinger
18        2        3                       old men
19        3        0                based on novel
20        3        1      interracial relationship
21        3        2                 single mother
22        3        3                       divorce
23        3        4                   chick flick
24        4        0                          baby
25        4        1                midlife crisis
26        4        2                    confidence
27        4        3                         aging
28        4        4                      daughter
29        4        5  mother daughter relationship
..      ...      ...                           ...
53        5       20                         loner
54        5       21                      bank job
55        5       22                      neo-noir
56        5       23                     gun fight
57        5       24                    crime epic
58        6        0                         paris
59        6        1  brother brother relationship
60        6        2                     chauffeur
61        6        3                   long island
62        6        4                        fusion
63        6        5                   millionaire
64        8        0                     terrorist
65        8        1                       hostage
66        8        2                     explosive
67        8        3                vice president
68        9        0                          cuba
69        9        1               falsely accused
70        9        2               secret identity
71        9        3                computer virus
72        9        4                   secret base
73        9        5   secret intelligence service
74        9        6                           kgb
75        9        7                     satellite
76        9        8                   special car
77        9        9                       cossack
78        9       10         electromagnetic pulse
79        9       11                     time bomb
80        9       12         st. petersburg russia
81        9       13                 ejection seat
82        9       14                      red army

[83 rows x 3 columns]

In [169]:
temp.apply(lambda x: pd.Series(x['keywords']),axis=1).stack().reset_index(level=1)

    level_1                             0
0         0                      jealousy
0         1                           toy
0         2                           boy
0         3                    friendship
0         4                       friends
0         5                       rivalry
0         6                 boy next door
0         7                       new toy
0         8             toy comes to life
1         0                    board game
1         1                 disappearance
1         2      based on children's book
1         3                      new home
1         4                       recluse
1         5                  giant insect
2         0                       fishing
2         1                   best friend
2         2          duringcreditsstinger
2         3                       old men
3         0                based on novel
3         1      interracial relationship
3         2                 single mother
3         3                       divorce
3         4                   chick flick
4         0                          baby
4         1                midlife crisis
4         2                    confidence
4         3                         aging
4         4                      daughter
4         5  mother daughter relationship
..      ...                           ...
5        20                         loner
5        21                      bank job
5        22                      neo-noir
5        23                     gun fight
5        24                    crime epic
6         0                         paris
6         1  brother brother relationship
6         2                     chauffeur
6         3                   long island
6         4                        fusion
6         5                   millionaire
8         0                     terrorist
8         1                       hostage
8         2                     explosive
8         3                vice president
9         0                          cuba
9         1               falsely accused
9         2               secret identity
9         3                computer virus
9         4                   secret base
9         5   secret intelligence service
9         6                           kgb
9         7                     satellite
9         8                   special car
9         9                       cossack
9        10         electromagnetic pulse
9        11                     time bomb
9        12         st. petersburg russia
9        13                 ejection seat
9        14                      red army

[83 rows x 2 columns]

In [170]:
temp.apply(lambda x: pd.Series(x['keywords']),axis=1).stack().reset_index(level=1,drop=True)

0                        jealousy
0                             toy
0                             boy
0                      friendship
0                         friends
0                         rivalry
0                   boy next door
0                         new toy
0               toy comes to life
1                      board game
1                   disappearance
1        based on children's book
1                        new home
1                         recluse
1                    giant insect
2                         fishing
2                     best friend
2            duringcreditsstinger
2                         old men
3                  based on novel
3        interracial relationship
3                   single mother
3                         divorce
3                     chick flick
4                            baby
4                  midlife crisis
4                      confidence
4                           aging
4                        daughter
4    mother daughter relationship
                 ...
5                           loner
5                        bank job
5                        neo-noir
5                       gun fight
5                      crime epic
6                           paris
6    brother brother relationship
6                       chauffeur
6                     long island
6                          fusion
6                     millionaire
8                       terrorist
8                         hostage
8                       explosive
8                  vice president
9                            cuba
9                 falsely accused
9                 secret identity
9                  computer virus
9                     secret base
9     secret intelligence service
9                             kgb
9                       satellite
9                     special car
9                         cossack
9           electromagnetic pulse
9                       time bomb
9           st. petersburg russia
9                   ejection seat
9                        red army
Length: 83, dtype: object

In [171]:
s = small_meta_data.apply(lambda x: pd.Series(x['keywords']),axis=1).stack().reset_index(level=1, drop=True)
s.name = 'keyword'
s.head()

0      jealousy
0           toy
0           boy
0    friendship
0       friends
Name: keyword, dtype: object

In [176]:
s1 = s.value_counts()
s1[:5]

independent film        610
woman director          550
murder                  399
duringcreditsstinger    327
based on novel          318
Name: keyword, dtype: int64

In [182]:
s1[s1 == 1].sum(), s1.count()

(6231, 12940)

In [183]:
s1 = s1[s1>1]

In [184]:
del s
gc.collect()

64818

In [192]:
s1.head(),s1.shape

(independent film        610
 woman director          550
 murder                  399
 duringcreditsstinger    327
 based on novel          318
 Name: keyword, dtype: int64, (6709,))

In [193]:
stemmer = SnowballStemmer('english')
stemmer.stem('dogs'), stemmer.stem('walking')

('dog', 'walk')

In [198]:
def collect_words(x):
    words = []
    for i in x:
        if i in s1:
            words.append(i)
    return words

In [204]:
small_meta_data['keywords'] = small_meta_data['keywords'].apply(collect_words)
small_meta_data['keywords'] = small_meta_data['keywords'].apply(lambda x: [stemmer.stem(i) for i in x])
small_meta_data['keywords'] = small_meta_data['keywords'].apply(lambda x: [str.lower(i.replace(" ","")) for i in x])

In [208]:
small_meta_data['keywords'][0], small_meta_data['cast'][0]

(['jealousi',
  'toy',
  'boy',
  'friendship',
  'friend',
  'rivalri',
  'boynextdoor',
  'newtoy',
  'toycomestolif'],
 ['tomhanks', 'timallen', 'donrickles'])

In [211]:
a = ['toy', 'boy', 'friend']
b = ['topp','jopu']
print(a+b)
print(''.join(a + b))

['toy', 'boy', 'friend', 'topp', 'jopu']
toyboyfriendtoppjopu

In [215]:
small_meta_data['soup'] = small_meta_data['keywords'] + small_meta_data['cast'] + small_meta_data['director'] + small_meta_data['genres']

In [217]:
small_meta_data['soup'][0]

['jealousi',
 'toy',
 'boy',
 'friendship',
 'friend',
 'rivalri',
 'boynextdoor',
 'newtoy',
 'toycomestolif',
 'tomhanks',
 'timallen',
 'donrickles',
 'johnlasseter',
 'johnlasseter',
 'johnlasseter',
 'Animation',
 'Comedy',
 'Family']

In [219]:
small_meta_data['soup'].apply(lambda x: ' '.join(x))[0]

'jealousi toy boy friendship friend rivalri boynextdoor newtoy toycomestolif tomhanks timallen donrickles johnlasseter johnlasseter johnlasseter Animation Comedy Family'

In [220]:
small_meta_data['soup'] = small_meta_data['soup'].apply(lambda x: ' '.join(x))

In [223]:
count = CountVectorizer(analyzer='word', ngram_range=(1,2), min_df=0, stop_words='english')
count_matrix = count.fit_transform(small_meta_data['soup'])
count_matrix.shape

(9219, 107377)

In [224]:
count_matrix

<9219x107377 sparse matrix of type '<class 'numpy.int64'>'
	with 240050 stored elements in Compressed Sparse Row format>

In [225]:
cosine_sim = cosine_similarity(count_matrix,count_matrix)
small_meta_data.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,vote_average,vote_count,year,cast,crew,keywords,cast_size,crew_size,director,soup
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[Animation, Comedy, Family]",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,7.7,5415.0,1995,"[tomhanks, timallen, donrickles]","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","[jealousi, toy, boy, friendship, friend, rival...",13,106,"[johnlasseter, johnlasseter, johnlasseter]",jealousi toy boy friendship friend rivalri boy...
1,False,NaN,65000000,"[Adventure, Fantasy, Family]",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,6.9,2413.0,1995,"[robinwilliams, jonathanhyde, kirstendunst]","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...","[boardgam, disappear, basedonchildren'sbook, n...",26,16,"[joejohnston, joejohnston, joejohnston]",boardgam disappear basedonchildren'sbook newho...
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[Romance, Comedy]",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,6.5,92.0,1995,"[waltermatthau, jacklemmon, ann-margret]","[{'credit_id': '52fe466a9251416c75077a89', 'de...","[fish, bestfriend, duringcreditssting]",7,4,"[howarddeutch, howarddeutch, howarddeutch]",fish bestfriend duringcreditssting waltermatth...
3,False,NaN,16000000,"[Comedy, Drama, Romance]",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,6.1,34.0,1995,"[whitneyhouston, angelabassett, lorettadevine]","[{'credit_id': '52fe44779251416c91011acb', 'de...","[basedonnovel, interracialrelationship, single...",10,10,"[forestwhitaker, forestwhitaker, forestwhitaker]",basedonnovel interracialrelationship singlemot...
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,[Comedy],NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,5.7,173.0,1995,"[stevemartin, dianekeaton, martinshort]","[{'credit_id': '52fe44959251416c75039ed7', 'de...","[babi, midlifecrisi, confid, age, daughter, mo...",12,7,"[charlesshyer, charlesshyer, charlesshyer]",babi midlifecrisi confid age daughter motherda...

In [228]:
small_meta_data = small_meta_data.reset_index()
titles = small_meta_data['title']
indices = pd.Series(small_meta_data.index, index=small_meta_data['title'])

In [230]:
indices.head()

title
Toy Story                      0
Jumanji                        1
Grumpier Old Men               2
Waiting to Exhale              3
Father of the Bride Part II    4
dtype: int64

In [231]:
get_recommendations('The Dark Knight').head(10)

8031         The Dark Knight Rises
6218                 Batman Begins
6623                  The Prestige
2085                     Following
7648                     Inception
4145                      Insomnia
3381                       Memento
8613                  Interstellar
7659    Batman: Under the Red Hood
1134                Batman Returns
Name: title, dtype: object

In [234]:
get_recommendations('The Conjuring 2').head(10)

8447                   The Conjuring
7848                       Insidious
5684                             Saw
8939                       Furious 7
6729                    Dead Silence
6831                  Death Sentence
2251    Omen III: The Final Conflict
4598               What a Girl Wants
8651                           Locke
7609               Cemetery Junction
Name: title, dtype: object

In [233]:
indices

title
Toy Story                                                0
Jumanji                                                  1
Grumpier Old Men                                         2
Waiting to Exhale                                        3
Father of the Bride Part II                              4
Heat                                                     5
Sabrina                                                  6
Tom and Huck                                             7
Sudden Death                                             8
GoldenEye                                                9
The American President                                  10
Dracula: Dead and Loving It                             11
Balto                                                   12
Nixon                                                   13
Cutthroat Island                                        14
Casino                                                  15
Sense and Sensibility                                   16
Four Rooms                                              17
Ace Ventura: When Nature Calls                          18
Money Train                                             19
Get Shorty                                              20
Copycat                                                 21
Assassins                                               22
Powder                                                  23
Leaving Las Vegas                                       24
Othello                                                 25
Now and Then                                            26
Persuasion                                              27
The City of Lost Children                               28
Shanghai Triad                                          29
                                                      ...
Kill Command                                          9189
Now You See Me 2                                      9190
The Video Dead                                        9191
Teenage Mutant Ninja Turtles: Out of the Shadows      9192
Popstar: Never Stop Never Stopping                    9193
The Conjuring 2                                       9194
Approaching the Unknown                               9195
Ghostbusters                                          9196
Central Intelligence                                  9197
Jason Bourne                                          9198
The Maid's Room                                       9199
The Legend of Tarzan                                  9200
The Purge: Election Year                              9201
Mike and Dave Need Wedding Dates                      9202
Survive and Advance                                   9203
Tallulah                                              9204
Piper                                                 9205
Nerve                                                 9206
My Friend Rockefeller                                 9207
Sunspring                                             9208
Author: The JT LeRoy Story                            9209
Hell or High Water                                    9210
Kingsglaive: Final Fantasy XV                         9211
Body                                                  9212
Sharknado 4: The 4th Awakens                          9213
The Last Brickmaker in America                        9214
Rustom                                                9215
Mohenjo Daro                                          9216
Shin Godzilla                                         9217
The Beatles: Eight Days a Week - The Touring Years    9218
Length: 9219, dtype: int64

## Improve recommendation (by removing bad movies by top director or actor like batman and Robin)

Now, consider top 25 movies based on similarity scores and calculate the vote of the 60th percentile movie. Then, using this as the value of m, we will calculate the weighted rating of each movie using IMDB's formula

In [241]:
def improved_recommendations(smd, title):
    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:26]
    movie_indices = [i[0] for i in sim_scores]
    
    movies = smd.iloc[movie_indices][['title', 'vote_count', 'vote_average', 'year']]
    vote_counts = movies[movies['vote_count'].notnull()]['vote_count'].astype('int')
    vote_averages = movies[movies['vote_average'].notnull()]['vote_average'].astype('int')
    C = vote_averages.mean()
    m = vote_counts.quantile(0.60)
    qualified = movies[(movies['vote_count'] >= m) & (movies['vote_count'].notnull()) & (movies['vote_average'].notnull())]
    qualified['vote_count'] = qualified['vote_count'].astype('int')
    qualified['vote_average'] = qualified['vote_average'].astype('int')
    qualified['wr'] = qualified.apply(weighted_rating, axis=1)
    qualified = qualified.sort_values('wr', ascending=False).head(10)
    return qualified

In [242]:
improved_recommendations(small_meta_data,'The Dark Knight')

,title,vote_count,vote_average,year,wr
7648,Inception,14075,8,2010,7.917588
8613,Interstellar,11187,8,2014,7.897107
6623,The Prestige,4510,8,2006,7.758148
3381,Memento,4168,8,2000,7.740175
8031,The Dark Knight Rises,9263,7,2012,6.921448
6218,Batman Begins,7511,7,2005,6.904127
1134,Batman Returns,1706,6,1992,5.846862
132,Batman Forever,1529,5,1995,5.054144
9024,Batman v Superman: Dawn of Justice,7189,5,2016,5.013943
1260,Batman & Robin,1447,4,1997,4.287233

### Our content based engine suffers from some severe limitations. It is only capable of suggesting movies which are close to a certain movie. That is, it is not capable of capturing tastes and providing recommendations across genres.

## Collaborative Filtering (user-user or item-item)

In [244]:
reader = Reader() # surprise library by sklearn
ratings = pd.read_csv('data/movies_dataset/ratings_small.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [245]:
# Load a dataset from a pandas dataframe.
data = Dataset.load_from_df(ratings[['userId', 'movieId', 'rating']], reader)
data.split(n_folds=5)

In [246]:
data

In [247]:
svd = SVD()
evaluate(svd, data, measures=['RMSE', 'MAE'])

/home/ankish/anaconda3/lib/python3.6/site-packages/surprise/evaluate.py:66: UserWarning: The evaluate() method is deprecated. Please use model_selection.cross_validate() instead.
  'model_selection.cross_validate() instead.', UserWarning)
/home/ankish/anaconda3/lib/python3.6/site-packages/surprise/dataset.py:193: UserWarning: Using data.split() or using load_from_folds() without using a CV iterator is now deprecated.
  UserWarning)

Evaluating RMSE, MAE of algorithm SVD.

------------
Fold 1
RMSE: 0.9004
MAE:  0.6902
------------
Fold 2
RMSE: 0.8980
MAE:  0.6918
------------
Fold 3
RMSE: 0.9007
MAE:  0.6934
------------
Fold 4
RMSE: 0.8965
MAE:  0.6898
------------
Fold 5
RMSE: 0.8934
MAE:  0.6874
------------
------------
Mean RMSE: 0.8978
Mean MAE : 0.6905
------------
------------

CaseInsensitiveDefaultDict(list,
                           {'rmse': [0.9003581766624212,
                             0.8980138898541418,
                             0.9006946002166543,
                             0.8965277865749257,
                             0.8934404981637667],
                            'mae': [0.6901908316036015,
                             0.691762046966211,
                             0.6933522630851731,
                             0.6898483023920445,
                             0.6874357574518688]})

In [249]:
print('check if it is working')

check if it is working

In [250]:
trainset = data.build_full_trainset()
svd.train(trainset)

/home/ankish/anaconda3/lib/python3.6/site-packages/surprise/prediction_algorithms/algo_base.py:51: UserWarning: train() is deprecated. Use fit() instead
  warnings.warn('train() is deprecated. Use fit() instead', UserWarning)

## pick any userid

In [251]:
ratings[ratings['userId'] == 1]

    userId  movieId  rating   timestamp
0        1       31     2.5  1260759144
1        1     1029     3.0  1260759179
2        1     1061     3.0  1260759182
3        1     1129     2.0  1260759185
4        1     1172     4.0  1260759205
5        1     1263     2.0  1260759151
6        1     1287     2.0  1260759187
7        1     1293     2.0  1260759148
8        1     1339     3.5  1260759125
9        1     1343     2.0  1260759131
10       1     1371     2.5  1260759135
11       1     1405     1.0  1260759203
12       1     1953     4.0  1260759191
13       1     2105     4.0  1260759139
14       1     2150     3.0  1260759194
15       1     2193     2.0  1260759198
16       1     2294     2.0  1260759108
17       1     2455     2.5  1260759113
18       1     2968     1.0  1260759200
19       1     3671     3.0  1260759117

In [252]:
svd.predict(1,302,3)

Prediction(uid=1, iid=302, r_ui=3, est=2.646637418812249, details={'was_impossible': False})

## Hybrid approach
### It use user-user relationship and previous history of the user.

In [255]:
def convert_int(x):
    try:
        return int(x)
    except:
        return np.nan

In [253]:
id_map = pd.read_csv('data/movies_dataset/links_small.csv')

In [254]:
id_map.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [257]:
id_map = id_map[['movieId','tmdbId']]
id_map['tmdbId'] = id_map['tmdbId'].apply(convert_int)

In [258]:
id_map.head()

   movieId   tmdbId
0        1    862.0
1        2   8844.0
2        3  15602.0
3        4  31357.0
4        5  11862.0

In [260]:
id_map.columns

Index(['movieId', 'tmdbId'], dtype='object')

In [261]:
id_map.columns = ['movieId','id']
id_map.head()

   movieId       id
0        1    862.0
1        2   8844.0
2        3  15602.0
3        4  31357.0
4        5  11862.0

In [263]:
id_map = id_map.merge(small_meta_data[['title','id']], on='id')
id_map.head()

   movieId       id                        title
0        1    862.0                    Toy Story
1        2   8844.0                      Jumanji
2        3  15602.0             Grumpier Old Men
3        4  31357.0            Waiting to Exhale
4        5  11862.0  Father of the Bride Part II

In [265]:
id_map.index

Int64Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
            ...
            9209, 9210, 9211, 9212, 9213, 9214, 9215, 9216, 9217, 9218],
           dtype='int64', length=9219)

In [270]:
id_map = id_map.set_index('title')

                             movieId       id
title
Toy Story                          1    862.0
Jumanji                            2   8844.0
Grumpier Old Men                   3  15602.0
Waiting to Exhale                  4  31357.0
Father of the Bride Part II        5  11862.0

In [271]:
id_map.head()

                             movieId       id
title
Toy Story                          1    862.0
Jumanji                            2   8844.0
Grumpier Old Men                   3  15602.0
Waiting to Exhale                  4  31357.0
Father of the Bride Part II        5  11862.0

In [272]:
indices_map = id_map.set_index('id')
indices_map.head()

         movieId
id
862.0          1
8844.0         2
15602.0        3
31357.0        4
11862.0        5

In [274]:
indices.head()

title
Toy Story                      0
Jumanji                        1
Grumpier Old Men               2
Waiting to Exhale              3
Father of the Bride Part II    4
dtype: int64

In [281]:
def hybrid(smd, userId, title):
    idx = indices[title]
    tmdbId = id_map.loc[title]['id']
    #print(idx)
    movie_id = id_map.loc[title]['movieId']
    
    # content based filtering
    #####################################
    sim_scores = list(enumerate(cosine_sim[int(idx)]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:26]
    movie_indices = [i[0] for i in sim_scores]
#     print(movie_indices)
    #####################################
    movies = smd.iloc[movie_indices][['title', 'vote_count', 'vote_average', 'year', 'id']]
#     print(movies)

    # Collaborative Filtering
    #####################################
    movies['est'] = movies['id'].apply(lambda x: svd.predict(userId, indices_map.loc[x]['movieId']).est)
    #####################################

    movies = movies.sort_values('est', ascending=False)
    return movies

In [291]:
id_map.loc['Avatar'], indices['Avatar']

(movieId    72998.0
 id         19995.0
 Name: Avatar, dtype: float64, 7488)

In [282]:
hybrid(small_meta_data,1,'Avatar')

[974, 522, 1011, 922, 4347, 344, 1376, 8401, 3216, 8724, 1500, 7265, 3060, 4966, 6084, 8419, 1668, 4017, 2132, 8658, 2761, 7088, 831, 1621, 2014]
                                          title  vote_count  vote_average  \
974                                      Aliens      3282.0           7.7
522                  Terminator 2: Judgment Day      4274.0           7.7
1011                             The Terminator      4208.0           7.4
922                                   The Abyss       822.0           7.1
4347             Piranha Part Two: The Spawning        41.0           3.9
344                                   True Lies      1138.0           6.8
1376                                    Titanic      7770.0           7.5
8401                    Star Trek Into Darkness      4479.0           7.4
3216                         Dungeons & Dragons       159.0           3.9
8724                          Jupiter Ascending      2816.0           5.2
1500                             Small Soldiers       522.0           6.2
7265                       Dragonball Evolution       475.0           2.9
3060            Sinbad and the Eye of the Tiger        39.0           6.3
4966                       Hercules in New York        63.0           3.7
6084  Beastmaster 2: Through the Portal of Time        17.0           4.6
8419                               Man of Steel      6462.0           6.5
1668                 Return from Witch Mountain        38.0           5.6
4017                            Hawk the Slayer        13.0           4.5
2132                                Superman II       642.0           6.5
8658                 X-Men: Days of Future Past      6155.0           7.5
2761           Teenage Mutant Ninja Turtles III       189.0           5.1
7088                  Star Wars: The Clone Wars       434.0           5.8
831                    Escape to Witch Mountain        60.0           6.5
1621         Darby O'Gill and the Little People        35.0           6.7
2014                           Fantastic Planet       140.0           7.6

      year      id
974   1986     679
522   1991     280
1011  1984     218
922   1989    2756
4347  1981   31646
344   1994   36955
1376  1997     597
8401  2013   54138
3216  2000   11849
8724  2015   76757
1500  1998   11551
7265  2009   14164
3060  1977   11940
4966  1969    5227
6084  1991   27549
8419  2013   49521
1668  1978   14822
4017  1980   25628
2132  1980    8536
8658  2014  127585
2761  1993    1499
7088  2008   12180
831   1975   14821
1621  1959   18887
2014  1973   16306

,title,vote_count,vote_average,year,id,est
1011,The Terminator,4208.0,7.4,1984,218,3.064670
8401,Star Trek Into Darkness,4479.0,7.4,2013,54138,3.028958
522,Terminator 2: Judgment Day,4274.0,7.7,1991,280,3.011393
974,Aliens,3282.0,7.7,1986,679,3.010484
1621,Darby O'Gill and the Little People,35.0,6.7,1959,18887,2.998947
8658,X-Men: Days of Future Past,6155.0,7.5,2014,127585,2.904452
2014,Fantastic Planet,140.0,7.6,1973,16306,2.895411
922,The Abyss,822.0,7.1,1989,2756,2.855093
1668,Return from Witch Mountain,38.0,5.6,1978,14822,2.784572
4347,Piranha Part Two: The Spawning,41.0,3.9,1981,31646,2.761964
7265,Dragonball Evolution,475.0,2.9,2009,14164,2.734410
7088,Star Wars: The Clone Wars,434.0,5.8,2008,12180,2.656774
3060,Sinbad and the Eye of the Tiger,39.0,6.3,1977,11940,2.652376
831,Escape to Witch Mountain,60.0,6.5,1975,14821,2.573426
4966,Hercules in New York,63.0,3.7,1969,5227,2.568181
344,True Lies,1138.0,6.8,1994,36955,2.497299
8724,Jupiter Ascending,2816.0,5.2,2015,76757,2.439549
4017,Hawk the Slayer,13.0,4.5,1980,25628,2.403825
6084,Beastmaster 2: Through the Portal of Time,17.0,4.6,1991,27549,2.387505
8419,Man of Steel,6462.0,6.5,2013,49521,2.370243
2132,Superman II,642.0,6.5,1980,8536,2.344947
1376,Titanic,7770.0,7.5,1997,597,2.282409
1500,Small Soldiers,522.0,6.2,1998,11551,2.160748
2761,Teenage Mutant Ninja Turtles III,189.0,5.1,1993,1499,2.146779
3216,Dungeons & Dragons,159.0,3.9,2000,11849,1.791728

In [284]:
def hybrid(smd, userId, title):
    idx = indices[title]
    tmdbId = id_map.loc[title]['id']
    #print(idx)
    movie_id = id_map.loc[title]['movieId']
    
    sim_scores = list(enumerate(cosine_sim[int(idx)]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:26]
    movie_indices = [i[0] for i in sim_scores]
#     print(movie_indices)
    movies = smd.iloc[movie_indices][['title', 'vote_count', 'vote_average', 'year', 'id']]
#     print(movies)
    movies['est'] = movies['id'].apply(lambda x: svd.predict(userId, indices_map.loc[x]['movieId']).est)
    movies = movies.sort_values('est', ascending=False)
    return movies

In [285]:
hybrid(small_meta_data,1,'Avatar').head(10)

,title,vote_count,vote_average,year,id,est
1011,The Terminator,4208.0,7.4,1984,218,3.064670
8401,Star Trek Into Darkness,4479.0,7.4,2013,54138,3.028958
522,Terminator 2: Judgment Day,4274.0,7.7,1991,280,3.011393
974,Aliens,3282.0,7.7,1986,679,3.010484
1621,Darby O'Gill and the Little People,35.0,6.7,1959,18887,2.998947
8658,X-Men: Days of Future Past,6155.0,7.5,2014,127585,2.904452
2014,Fantastic Planet,140.0,7.6,1973,16306,2.895411
922,The Abyss,822.0,7.1,1989,2756,2.855093
1668,Return from Witch Mountain,38.0,5.6,1978,14822,2.784572
4347,Piranha Part Two: The Spawning,41.0,3.9,1981,31646,2.761964

In [286]:
hybrid(small_meta_data,100,'Avatar').head(10)

,title,vote_count,vote_average,year,id,est
1011,The Terminator,4208.0,7.4,1984,218,3.982359
522,Terminator 2: Judgment Day,4274.0,7.7,1991,280,3.803937
1621,Darby O'Gill and the Little People,35.0,6.7,1959,18887,3.707920
974,Aliens,3282.0,7.7,1986,679,3.684303
8401,Star Trek Into Darkness,4479.0,7.4,2013,54138,3.681720
8658,X-Men: Days of Future Past,6155.0,7.5,2014,127585,3.579584
922,The Abyss,822.0,7.1,1989,2756,3.531269
3060,Sinbad and the Eye of the Tiger,39.0,6.3,1977,11940,3.463243
4966,Hercules in New York,63.0,3.7,1969,5227,3.427615
2014,Fantastic Planet,140.0,7.6,1973,16306,3.411477