In [19]:
import pandas as pd

df = pd.DataFrame({'col1':[0,1,2,3,4], 'col2':[10,11,12,13,14]})

In [20]:
df

   col1  col2
0     0    10
1     1    11
2     2    12
3     3    13
4     4    14

In [3]:
df[df['col1'] >= 2]

   col1  col2
2     2    12
3     3    13
4     4    14

In [4]:
df.loc[df['col1'].ge(2)]

   col1  col2
2     2    12
3     3    13
4     4    14

In [5]:
df

   col1  col2
0     0    10
1     1    11
2     2    12
3     3    13
4     4    14

In [21]:
df.loc[df['col2'].ge(12),'col2']

2    12
3    13
4    14
Name: col2, dtype: int64

In [24]:
df['col1']

0    0
1    1
2    2
3    3
4    4
Name: col1, dtype: int64

In [26]:
# tried to delete a column what not happened
reset_selective df['col1']

SyntaxError: invalid syntax (<ipython-input-26-50597ba9748d>, line 2)

In [28]:
import numpy as np

In [29]:
data = pd.DataFrame(np.arange(12).reshape(3,4), 
                   columns=['A', 'B', 'C', 'D'])

In [32]:
data.drop(['B', 'C'], axis=1)

   A   D
0  0   3
1  4   7
2  8  11